<div class="g-text">
    <div class="content">
        <div class="g-text__in">
            <div class="g-text__title Ta(c)">
                <span class="g-text__title-txt t-h2">ПИР — провайдер интерактивных решений</span>
            </div>
            <div class="g-text__desc g-column_x2">
                <div class="editor">
                    <p>Для организации массовой рассылки рекламы понадобится надёжный партнёр. Обратитесь в IncoreDevelopment. Специалисты этой организации имеют реальный многолетний опыт работы с мобильной рекламой. В нашем активе — проведение многих успешных СМС-, ММС-, USSD- и даже WhatsApp-кампаний. </p>
                    <p>Наша компания оказывает услуги по разработке и внедрению уникальных готовых SMS-сервисов (SMPP-сервер, HTPP, HTPPS). Свой собственный SMS-сервис позволит Вам работать с любым оператором сотовой связи без посредников на выгодных условиях, подключать клиентов, партнеров и многое другое. Заполните заявку и мы вышлем вам Demo доступ к личному кабинету.</p>
                    <p>Есть несколько особенностей, которые делают сотрудничество с IncoreDevelopment удобным и выгодным. А именно:</p>
                    <ul>
                        <li>низкая цена рекламы в массовой рассылке;</li>
                        <li>техническая возможность настройки кампании и реализации сложных проектов по требованиям заказчика в индивидуальном порядке;</li>
                        <li>все сообщения проходят обязательную модерацию, что позволяет клиенту избежать возможных проблем с законодательством и ограничений массовой рассылки рекламы со стороны провайдера сотовой связи.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /* g-text -->
