@import "../abstracts/*.css";

/* Dropdown menus */

.dropdown {
    position: relative;
    max-width: 76.8em;
    margin: auto;
    &__btn {
        display: block;
        width: 100%;
        min-width: 26em;
        padding: 0.1em 7em 0 2.5em;
        height: 6em;
        position: relative;
        z-index: 1;
        text-decoration: none;
        background: $bg_blue;
        outline: none;
        box-shadow: none;
        border-radius: 3em;
        text-align: center;
        color: #fff;
        &-txt {
            font-size: 1.4em;
            line-height: 1.25;
            font-weight: 600;
        }
        &-caret {
            top: 0.3em;
            right: 3em;
            size: 1.3em 0.8em;
        }
    }
    /*// The dropdown menu (ul)*/
    &-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 10;
        display: none;
        min-width: 100%;
        padding: 0;
        margin: 1em 0 0;
        list-style: none;
        text-align: left;
        background-color: #fff;
        border: 1px solid #E8E6EB;
        border-radius: 0.6em;
        overflow: hidden;
        background-clip: padding-box;

        .nav-tabs {
            &__cont {}
            & {
                display: block;
            }
            &__wrapper {
                overflow: hidden;
                padding-left: 0;
            }
            &-li {
                display: block;
                &__a {
                    display: block;
                    height: 5em;
                    border-radius: 0;
                    margin-top: -1px;
                    margin-left: 0;
                    padding: 0.1em 2.5em 0;
                    text-align: left;
                    border: 0 none;
                    border-top: 1px solid #E8E6EB;
                    border-bottom: 1px solid #E8E6EB;
                    &:active {
                        color: #3E464C;
                        background: #F9F9FA;
                    }
                }
            }
            &-li.active .nav-tabs-li__a {
                background: #F6F5F7;
                color: #3E464C;
                border-color: #E8E6EB;
            }
            &-li:first-of-type .nav-tabs-li__a,
            &-li:first-child .nav-tabs-li__a,
            &-li:last-of-type .nav-tabs-li__a,
            &-li:last-child .nav-tabs-li__a {
                border-radius: 0;
            }
            &-li:last-of-type .nav-tabs-li__a,
            &-li:last-child .nav-tabs-li__a {
                border-bottom: 0 none;
            }
        }
    }
    /*// Backdrop to catch body clicks on mobile, etc.*/
    .dropdown-backdrop {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 9;
    }
    /* the Dropdown state */
    &.open & {
        &__btn {
            &-caret {
                transform: rotate(180deg);
            }
        }
        &-menu {
            display: block;
        }
    }
}


/* // Dropdown menus */
