@import "../abstracts/*.css";

/* Component animations */

.fade {
    opacity: 0;
    filter: alpha(opacity=000);
    transition: opacity .15s linear;
    &.in {
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

.collapse {
    display: none;

    &.in {
        display: block;
    }
}

tr.collapse.in {
    display: table-row;
}

tbody.collapse.in {
    display: table-row-group;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition-property: height, visibility;
    transition-duration: .35s;
    transition-timing-function: ease;
}


/* / Component animations */
