@import "../abstracts/*.css";

/* Modals
// --------------------------------------------------
// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and shit

  // Kill the scroll on the body*/

.modal-open {
    overflow: hidden;
}


/*// Container that the modal scrolls within*/

.modal {
    text-align: center;
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zModal;
    -webkit-overflow-scrolling: touch;
    outline: 0;

    /* // When fading in the modal, animate it to slide down*/
    &.fade .modal-dialog {
        transform: translate(0, -25%);
        transition: transform 0.3s ease-out;
    }
    &.in .modal-dialog {
        transform: translate(0, 0%);
    }
    &.fade_two {
        transform: scale3d(0, 0, 0);
        transition: all 0.35s ease-in-out;
        .modal-dialog {
            transform: translate(0, 0%);
            transition: none;
        }
    }
    &.fade_two.in {
        transform: scale3d(1, 1, 1);
    }
    @media screen and (max-width: $media_767) {
        & {
            &:after {
                display: none;
            }
        }
    }
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}


/*.modal-open .modal_comments,
  .modal-open .modal_choice {
    overflow: hidden;
    .modal-dialog_full {
      overflow-y: auto;
      -ms-overflow-x: auto;
          overflow-x: auto;
    }
  }*/

.modal-open .modal_slider {
    overflow: hidden;
}


/*// Shell div to position the modal with bottom padding*/

.modal-dialog {
    text-align: left;
    position: relative;
    width: 100%;
    max-width: 58em;
    &_full {
        width: 100%;
        height: 100%;
        /*// min-height: 100%; //bug in slider*/
    }
    @media screen and (max-width: $media_767) {
        & {
            display: block;
            max-width: 100%;
            height: 100%;
            background-color: #fff;
        }
    }
}


/*// Actual modal*/

.modal-content {
    padding: 7.5em 7em 7.2em;
    position: relative;
    background-color: #fff;
    border: 1px solid #F8F8F8;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    /*// Remove focus outline from opened modal*/
    outline: 0;


    @media screen and (max-width: $media_767) {
        & {
            border: 0 none;
            box-shadow: none;
            padding: 6.5em 3em 4em;
        }
    }
}

.modal-header {
    margin-bottom: 2.4em;
    text-align: center;
    &__txt {
        font-size: 2em;
        line-height: 1.25;
    }
}

.modal-answer {
    display: none;
}

.modal-close {
    width: 6em;
    height: 6em;
    z-index: 1;
    transition: all 0.25s;
    &__ico {
        width: 1.5em;
        height: 1.5em;
    }
    &:hover {
        fill: $bg_blue;
    }
}


/*// Modal background*/

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: m($zModal - 5);
    background-color: #000;
    /*// Fade for backdrop*/
    &.fade {
        opacity: 0;
    }
    &.in {
        opacity: 0.7;
    }
}


/*// Measure scrollbar width for padding body during modal show/hide*/

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}


/* / Modals */
