@import "../abstracts/*.css";

/* Tabs */


/* Give the tabs something to sit on */

.nav-tabs {
    &__cont {
        position: relative;
    }
    &__wrapper {
        width: 100%;
        overflow: hidden;
        overflow-x: auto;
    }
    & {
        display: table;
        width: 100%;
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
    }
    &-li {
        display: table-cell;

        &__a {
            display: block;
            padding: 0.4em 2.9em 0;
            height: 7em;
            position: relative;
            z-index: 1;
            text-align: center;
            color: #3E464C;
            @extend trans_color;

            &:before {
                content: "";
                display: block;
                position: absolute 0 0 0 0;
                z-index: -1;
                background: #E6EDEE;
                transform: translateY(0.4em);
                @extend trans_trf;
            }

            &-txt {
                font-size: 2.4em;
                line-height: 1.25;
            }
            &-txt-dop {
                display: block;
                margin-top: 0.1rem;
                font-size: 1.8em;
                line-height: 1.15;
                color: #697079;
            }
            &:hover {
                color: $blue;
                text-decoration: none;
            }
        }

        &.active &__a {
            cursor: default;
            color: $blue;

            &:before {
                background: #FFF;
                transform: translateY(0em);
            }
        }
        &:first-of-type &__a,
        &:first-child &__a {
            border-left: 0 none;
        }
    }
}


/* Hide tabbable panes to start, show them when `.active`*/

.tab-content {
    &__pane {
        display: none;
        &.active {
            display: block;
        }
    }
}


/* // Tabs */
