/*! Buttons .g-link & .g-btn & .g-back  */

.g-link {
    @extend %abs;
    background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
    z-index: 100;
}

.g-btn {
    $self_p_rl: 1em;
    @extend %g-vac;
    display: inline-block;
    vertical-align: middle;
    height: 4em;
    min-width: 7.4em;
    overflow: hidden;
    position: relative;
    z-index: 5;
    padding: 0.1em m($self_p_rl - 0.3em) 0 $self_p_rl;
    border: 0 none;
    outline: 0 none;
    /*box-shadow: 0 1.7em 1.7em rgba(#9C8857, 0.5);*/
    transition: all .25s ease;
    line-height: 1;
    user-select: none;
    text-align: center;
    color: $cbody;

    &__txt {
        @extend %g-vac__el;
        font-size: 1.3em;
    }

    button& {
        padding-right: $self_p_rl;
        &:after {
            display: none;
        }
    }

    &__ico {
        display: inline-block;
        vertical-align: middle;
        size: 1.6em;
        fill: $grey;
        position: relative;
        &_faq {
            size: 3em;
            margin-right: 0.5em;
        }
    }

    &_white {
        color: $white;
    }
    &_red {
        color: $red;
    }
    &_orange {
        color: $orange;
    }

    &_p_off,
    button&_p_off {
        padding-right: 0;
        padding-left: 0;
        min-width: inherit;
        width: auto;
        &:hover {
            color: $red;
        }
    }

    &_back & {
        &__ico {
            fill: $blue;
            @extend %trans_trf;
        }
        &__txt {
            color: $blue;
            font-weight: 600;
        }
    }
    &_back:hover & {
        &__txt {
            color: $red;
        }
        &__ico {
            fill: $red;
            animation: right_left 0.6s infinite linear;
        }
    }

    &_link {
        padding-right: 1.7em;
        padding-left: 2em;
        min-width: inherit;
        width: auto;
    }
    &_link & {
        &__txt {
            border-bottom: 1px solid currentColor;
            white-space: nowrap;
            &_dashed {
                border-style: dashed;
            }
        }
    }
    &_link:hover & {
        &__txt {
            border-bottom-color: transparent;
        }
    }
    &_bg_red {
        border-radius: 3px;
        background: $button_red_bg;
        background: linear-gradient(to right, $button_red_grad-start, $button_red_grad-end);
        color: $white;
        font-weight: 600;

        &:hover {
            background: $button_red_grad-h;
            background: linear-gradient(to right,$button_red_grad-h);
        }
        &:active {
            background: $button_red_grad-a;
            background: linear-gradient(to right,$button_red_grad-a);
        }
        button& {
            &:focus {
                box-shadow: 0 0 2em rgba($button_red_grad-h, 0.9);
            }
        }
    }
    &_bg_black {
        border-radius: 3px;
        background: $bg_black;
        color: $white;
        font-weight: 600;

        &:hover {
            background: $bg_grey;
            /*box-shadow: 0 0 0 transparent;*/
        }
        button& {
            &:focus {
                box-shadow: 0 0 2em rgba(bg_grey, 0.9);
            }
        }
    }
    &_wide {
        width: 100%;
        /*max-width: 48em;*/
    }
    &_w_min {
        min-width: 12.8em;
    }

    &_sm {
    }
    &_sm & {
        &__txt {
            font-size: 1.3em;
        }
    }
    &_big {
        $self_p_rl: 1.5em;
        height: 5em;
        padding: 0.1em m($self_p_rl - 0.3em) 0 $self_p_rl;

        button& {
            padding-right: $self_p_rl;
        }
    }
    &_big & {
        &__txt {
        }
    }
}

.g-soc {
    padding-top: 0.2em;
    &-item {
        &-title {
            margin-bottom: 2em;
            &__txt {

            }
        }
        &-bottom {
            margin-bottom: 2em;
            &__txt {

            }
        }
        &__list {
            margin: 0 -1em;
            &_flex {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }

        &-el {
            width: 15.8em;
            min-width: 15.8em;
            height: 5em;
            padding: 0 3em 0 2em;
            border-radius: 0.3em;
            margin: 0 1em 3em;
            overflow: hidden;
            text-align: left;
            color: #fff;
            fill: #fff;
            &__ico {
                display: inline-block;
                vertical-align: middle;
                size: 1.6em;
                margin-right: 2em;
            }
            &__txt {
                display: inline-block;
                vertical-align: middle;
                font-size: 1.3em;
                font-weight: 600;
            }
            &:hover {
                opacity: 0.6;
            }
            &_vk {
                background-color: #4A76A8;
            }
            &_fb {
                background-color: #3B5999;
            }
        }
    }


    &-login {
        margin-bottom: 2em;
        &-title {
            margin-bottom: 1em;
            &__txt {

            }
        }
        &__list {
        }
        &-el {
            display: inline-block;
            height: 4em;
            max-width: 100%;
            padding: 0 4.5em 0 0;
            margin-bottom: 0.5em;
            overflow: hidden;
            text-align: left;
            position: relative;
            &__in {
                white-space: nowrap;
                max-width: 100%;
            }
            &__ico {
                display: inline-block;
                vertical-align: middle;
                size: 1.6em;
                margin-right: 1em;
            }
            &__txt {
                display: inline-block;
                vertical-align: middle;
                font-size: 1.3em;
                font-weight: 600;
                max-width: 90%;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &-btn {
                display: inline-block;
                vertical-align: middle;
                size: 3.5em 4em;
                fill: $grey;
                &__ico {
                    size: 1.6em;
                }
                &:hover {
                    fill: $red;
                }
            }
            &_vk {
                fill: #3B5999;
            }
            &_fb {
                fill: #4A76A8;
            }
        }
    }
    &_checkin {
        text-align: center;
    }
    &_checkin & {
        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
    @media screen and (max-width: $media_899) {
        & {
            &-item {
                &__list {
                    &_flex {
                        justify-content: center;
                    }
                }
            }
        }
    }

}
/*! buttons  */
