/*! Editor   */

.g-editor {
    $self_fs: 1.6rem;
    font-size: $self_fs;
    line-height: 1.75;
    word-break: break-word;

    ul,
    ol {
        margin: 0 0 2rem 3rem;
        list-style: disc outside;

        ul,
        ol {
            margin-top: 1rem;
        }
    }

    ol {
        list-style-type: none;
        /* Убираем исходные маркеры */
        counter-reset: num;
        /* Задаём имя счетчика */
        >li {
            position: relative;
            z-index: 1;
            &:before {
                content: counter(num) '. ';
                /* Выводим число */
                counter-increment: num;
                /* Увеличиваем значение счётчика */
                position: absolute;
                left: -2.4rem;
            }
        }

        ol {
            counter-reset: num2;
        }
        /* Инициируем счетчик вложенного списка */
        ol>li:before {
            counter-increment: num2;
            /* Увеличиваем значение счетчика вложенного списка */
            content: counter(num) "." counter(num2) ". ";
            /* Выводим число */
        }
    }

    p,
    span,
    li {
        font-size: 1em;
        line-height: inherit;
        margin-bottom: 2rem;
        span,
        p {
            margin-bottom: 0;
        }

        +ul,
        +ol {
            margin-top: -0.5rem;
        }
    }

    li {
        margin-bottom: 0;
        margin-left: 0;
        span,
        p {
            margin-bottom: 0;
        }
    }

    a {
        color: inherit;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
        &[href^="tel"] {
            color: $cbody;
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }
    }

    p:empty,
    span:empty,
    strong:empty,
    em:empty,
    li:empty,
    a:empty {
        display: none;
        border: 0 none;
        padding: 0;
        margin: 0;
        height: 0;
        width: 0;
    }

    img {
        display: block;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        margin: 0 2rem 2rem 0;
    }

    iframe {
        max-width: 100%;
        margin-bottom: 3rem;
    }

    .table__cont {
        margin: 0 -15px;
        padding-left: 15px;
        overflow-x: auto;
    }
    table {
        max-width: 100%;
        word-break: normal;
        margin-bottom: 3rem;
    }

    th,
    td {
        font-size: $self_fs;
        vertical-align: baseline;
        padding: 1rem 2rem;
        border: 1px solid #000;

        td {
            font-size: 1em;
        }
        p,
        span,
        ul,
        ol,
        li {
            margin-bottom: 0;
        }
    }

    th {}
    tr:hover {}

    sup {
        vertical-align: super;
        font-size: x-small;
    }

    pre {
        margin-bottom: 2rem;
        white-space: pre-wrap;
        overflow: auto;
    }

    blockquote {
        font-size: 1.133em;
        line-height: 1.8;
        padding: 0.1rem 0 0 1.7rem;
        margin: 5rem 0;
        border-left: 0.3rem solid $blue;
        p,
        span,
        li {
            margin-bottom: 0;
        }
        &:first-child {
            margin-top: 0;
        }
    }

    h1,
    .h1 {
        font-size: 1.4285em;
        line-height: 1.2;
        margin: 2.5rem 0 2rem;
    }
    h2,
    .h2 {
        font-size: 1.285em;
        line-height: 1.25;
        margin: 2.5rem 0 1.5rem;
    }
    h3,
    .h3 {
        font-size: 1.1428em;
        line-height: 1.35;
        margin: 2rem 0 1rem;
    }
    h4,
    .h4 {
        font-size: 1em;
        line-height: 1.35;
        margin: 2rem 0 1rem;
    }
    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4 {

        &:first-child {
            margin-top: 0;
        }
    }
    h5,
    .h5,
    h6,
    .h6 {
        font-size: 1em;
        margin-bottom: 1rem;
    }

    &__img {
        color: $grey;
        font-size: 1.3rem;
        line-height: 1.55;
        margin-bottom: 3rem;
        img,
        p,
        span {
            margin-bottom: 0;
        }
        img {
            display: block;
        }
        p,
        span {
            margin-top: 0.5rem;
            margin-right: 2rem;
            margin-left: 2rem;
        }
    }

    &-slider {

        &__container {
        }

        & {
            overflow: hidden;
            max-width: 92rem;
            position: relative;
            margin: auto;
            padding: 4rem 0 0;
            margin: 0 0 3rem;
        }

        &-slide {

        }

        &-img {

            &__size {
                position: relative;
                min-height: 21rem;
                max-height: 52rem;
                overflow: hidden;
                &:after {
                    content: "";
                    display: block;
                    padding-bottom: 66.5%;
                }
            }

            & {
                display: block;
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
        }

        &__desc {
            max-height: 6rem;
            overflow: hidden;
            padding: 0.5rem 2rem;
            color: $grey;
            font-size: 1.3rem;
            line-height: 1.55;

            p,
            li,
            span {
                margin-bottom: 0;
            }
        }

        &-nav {
            $nav_w: 3rem;
            $nav_r: 1.4rem;
            size: $nav_w 4rem;
            fill: $black;
            right: $nav_r;
            z-index: 3;
            &__ico {
               size: 1rem 1.5rem;
            }
            &_next {

            }
            &_prev {
                right: m($nav_w + $nav_r);
            }
            &:hover {
                fill: $red;
            }
            &.swiper-button-disabled {
                cursor: default;
                opacity: 0.5;
                &:hover {
                    fill: $black;
                }
            }
        }

        &__pagination {
            font-size: 1.2rem;
            line-height: 1.2;
            font-weight: 600;
            height: auto;
            padding: 1.4rem 1rem;
            right: 11.8rem;
            width: auto;
            z-index: 10;
            color: $grey2;

            &.swiper-pagination-fraction {
                width: auto;
                bottom: auto;
                left: auto;
            }
        }
    }

    &_sm {
        font-size: 1.3rem;
        line-height: 1.55;

        p,
        span,
        li {
            margin-bottom: 2rem;
            span,
            p {
                margin-bottom: 0;
            }
        }
        ul,
        ol {
            margin-bottom: 2rem;
        }
    }

    /*&_big {
            font-size: 1.6rem;
            line-height: 1.25;

            p, span, li {
                margin-bottom: 2rem;
                span, p {
                    margin-bottom: 0;
                }
            }
        }

        &_lh-big {
            line-height: 1.7;
        }*/
    &_desc {
        font-style: normal;
        p,
        span,
        li {
            margin-bottom: 0;
        }
        h1,
        .h1,
        h2,
        .h2,
        h3,
        .h3,
        h4,
        .h4,
        h5,
        .h5,
        h6,
        .h6 {
            font-size: 1em;
            line-height: inherit;
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &_mb-off {
        p,
        span,
        li {
            margin-bottom: 0;
        }
    }
    &_h-off {
        font-style: normal;
        h1,
        .h1,
        h2,
        .h2,
        h3,
        .h3,
        h4,
        .h4,
        h5,
        .h5,
        h6,
        .h6 {
            font-size: 1em;
            line-height: inherit;
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &_a-off {
        a {
            text-decoration: none;
            color: currentColor;
        }
    }

    @media screen and (max-width: $media_sm) {
        & {
            font-size: 1.4rem;
            line-height: 1.4;
            ul {
                margin-left: 2rem;
            }
            ol {
                margin-left: 2.5rem;
            }

            blockquote {
                font-size: 1.066em;
                margin: 3.5rem 0 3.5rem -m(strip($content_p_sm))rem;
            }

            &__img {
                margin-right: -m(strip($content_p_sm))rem;
                margin-left: -m(strip($content_p_sm))rem;
            }

            &-slider {

                & {
                    margin-right: -m(strip($content_p_sm))rem;
                    margin-left: -m(strip($content_p_sm))rem;
                }
            }

            table {
                margin-bottom: 2rem;
            }

            .table__cont {
                & {
                    margin-right: -m(strip($content_p_sm))rem;
                    margin-left: -m(strip($content_p_sm))rem;
                }
            }

            &_big {
                font-size: 1.6rem;
                line-height: 1.875;

                p,
                span,
                li {
                    margin-bottom: 2rem;
                    span,
                    p {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

/*! editor */
