@import "../abstracts/*.css";

/*! Form */

.placeholder,
.placeholdersjs {
    color: $input_ph;
}

 ::-webkit-input-placeholder {
    color: $input_ph;
    opacity: 1;
}

 ::-o-input-placeholder {
    color: $input_ph;
}

 :-moz-placeholder {
    color: $input_ph;
    -moz-opacity: 1;
    opacity: 1;
}

 ::-moz-placeholder {
    color: $input_ph;
    -moz-opacity: 1;
    opacity: 1;
}

 :-ms-input-placeholder {
    color: $input_ph;
}

 ::-ms-clear {
    display: none;
}


/*// ::-moz-selection {
  //     background: #b3d4fc;
  //     text-shadow: none;
  // }
  // ::selection {
  //     background: #b3d4fc;
  //     text-shadow: none;
  // }*/

.g-input,
.g-textarea,
.g-input__search {
    font-size: 1.5em;
    width: 100%;
    height: 5rem;
    background: #fff;
    border: 1px solid $input_brd;
    padding: 0 2rem 0.1rem;
    border-radius: 3px;
    color: $cdesc;
    outline: 0;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all .25s;

    &:focus,
    &:hover {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-color: $input_brd-h;
    }
}

.g-textarea {
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    height: 20rem;
    line-height: 1.5;
    resize: none;
    /* // resize: vertical; */
}

form .captcha-img {
    float: left;
    margin-right: 2em;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: searchfield-cancel-button;
    -moz-appearance: searchfield-cancel-button;
    appearance: searchfield-cancel-button;
}

[type="date"]::-webkit-inner-spin-button {
    height: 100%;
}

.g-input[type="file"] {
    background: none;
    border: 0 none;
    padding: 0;
    height: auto;
}

.g-input_file-hide {
    width: 100%;
    opacity: 0;
    text-indent: -10000px;
    z-index: 10;
    cursor: pointer;
}

.g-input__search {
    font-size: 1.3em;
    height: 4rem;
    padding-bottom: 0.1rem;
}

.g-search-field {
    max-width: 48em;
    margin-bottom: 3.2em;
    position: relative;
    .input__search {
        padding-right: 5rem;
    }
    &__btn {
        size: 5.4em 4em;
        z-index: 1;
        fill: #a9adb3;
        &-ico {
            size: 1.4em;
        }
        &:hover {
            fill: $blue;
        }
    }
}

select {
    font-size: 1.5em;
    min-width: 16rem;
    height: 5rem;
    text-indent: 1.2rem;
    background: #FFF;
    border: 1px solid $input_brd;
    border-radius: 3px;
    outline: none;
    box-shadow: none;
}
.g-select__cont {
    position: relative;

    &:after {
        content: "";
        display: block;
        width: 4rem;
        height: 5rem;
        background: #000;
        position: absolute 0 0 * *;
        z-index: 1;
        pointer-events: none;
    }

    select {
        text-indent: 0;
        padding: 0 2rem;
        appearance: none;
    }
}

.g-checkbox,
.g-radio {
    $self_m-r: 2em;
    &-cont {
        margin-right: -$self_m-r;
        clear: fix;
    }

    & {
        display: inline-block;
        max-width: 100%;
        min-width: 7.9em;
        margin: 0 $self_m-r 0.5em 0;
        position: relative;
        z-index: 1;
        text-align: left;
    }

    &__label {
        display: block;
        min-height: 2.5em;
        padding: 0.4em 0 0 3em;
        cursor: pointer;
        user-select: none;
        @extend %g-vac;

        &:after {
            height: 2em;
        }
    }

    &__input {
        @extend %abs;
        right: auto;
        clip: rect(0, 0, 0, 0);

        &:checked~ {
            .g-checkbox__diz,
            .g-radio__diz {
                background: $radio_diz-h;
                border-color: $radio_diz-h;
                fill: #fff;
            }
            .g-radio__diz:before {
                background: #fff;
            }

            .g-checkbox__txt,
            .g-radio__txt {
                color: $cheader;
            }
        }
        &:focus~ {
            .g-checkbox__diz,
            .g-radio__diz {
                border-color: $radio_diz-h;
            }
            .g-checkbox__txt,
            .g-radio__txt {
                color: $cheader;
            }
        }
        &[disabled]:hover~,
        &[disabled]:focus~ {
            .g-checkbox__diz,
            .g-radio__diz {
                border-color: $radio_diz;
            }
        }
        &[disabled]:checked:hover~,
        &[disabled]:checked:focus~ {
            .g-checkbox__diz,
            .g-radio__diz {
                border-color: $radio_diz-h;
            }
        }
    }

    &__diz {
        top: 0.3em;
        bottom: auto;
        width: 2em;
        height: 2em;
        background: transparent;
        border: 1px solid $radio_diz;
        border-radius: 3px;
        fill: transparent;
        z-index: -3;
        transition: all 0.25s;
    }

    &__ico {
        width: 1.2em;
        height: 1em;
        bottom: 0.1em;
        left: 0.1em;
        z-index: -1;
    }

    &__txt {
        font-size: 1.2em;
        line-height: 1.25;
        color: #7F9099;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        @extend %g-vac__el;
        transition: all 0.25s;
    }

    &_block {
        display: block;
    }

    &_mboff {
        margin-bottom: 0;
    }

    &:hover {
        .checkbox__diz,
        .radio__diz {
            border-color: $radio_diz-h;
        }

        .checkbox__txt,
        .radio__txt {
            color: $cheader;
        }
    }
}

.g-radio {

    &__diz {
        border-radius: 100%;

        &:before {
            content: "";
            display: block;
            width: 0.5em;
            height: 0.5em;
            border-radius: 100%;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            transition: all 0.25s;
        }
    }
    &__txt {
        vertical-align: middle;
    }
}


/* .input-btn {
    &-cont {
      margin: 0 0 0 1px;
    }
    &__in {
      margin-right: 0;
      display: table;
      width: 100%;
      table-layout: fixed;
    }

    & {
      display: table-cell;
      max-width: 100%;
      margin : 0;
      text-align: center;
    }

    &:first-of-type &__label,
    &:first-child &__label {
      border-radius: 3px 0 0 3px;
    }
    &:last-of-type &__label,
    &:last-child &__label {
      border-radius: 0 3px 3px 0;
    }

    &__label {
      margin-left: -1px;
      border: 1px solid $brdconnector;
      height: 3.2em;
      padding: 0 0 0 0.8em;
      position: relative;
      z-index: 1;
      cursor    : pointer;
      user-select: none;

      &-in {
        white-space: nowrap;
      }
    }

    &__input {
      @extend %abs;
      right   : auto;
      clip    : rect(0,0,0,0);

      &:checked ~ {
        .input-btn__diz {
          transform: scale(1);
          width: 1.6em;
        }
        .input-btn__bg {
          background: $bgconnector_h;
        }
      }
    }

    &__diz {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      width: 0;
      overflow: hidden;
      height: 1.5em;
      margin-left: 0.3em;
      z-index: 1;
      fill: #43a047;
      transform: scale(0);
      transition: all 0.25s;
    }

    &__bg{
      z-index: -1;
      background: $bgconnector;
    }

    &__ico  {
      width: 100%;
      height: 100%;
    }

    &__txt  {
      display: inline-block;
      vertical-align: middle;
      font-size: 1.2em;
    }

    &:hover {
    }
  }*/

.g-form {
    &-item {
        clear: fix;
        margin-bottom: 1em;
        text-align: left;
        &__name {
            padding: 1.2em 2em 0 0;
            margin-bottom: 0.7em;
            &-txt {
                display: block;
                font-size: 1.3em;
                line-height: 1.3;
                font-weight: 600;
            }
        }
        &__field {
            select {
                width: 100%;
            }
            .nice-select {
                float: none;
            }
        }
        &_checkbox {
            margin-top: 1em;
            margin-bottom: 1.5em;
        }
        .modal & {
            margin-bottom: 2.5em;
        }
    }

    &__btn {
        margin-top: 2.8em;
        text-align: center;
        .g-btn {
            min-width: 21em;
        }
        &_l {
            text-align: left;
        }
        .modal & {
            padding-top: 2.5em;
        }
    }

    label.error {
        display: block;
        text-align: left;
        margin-top: 0.3rem;
        font-size: 1.2em;
        color: $red;
    }
}


/*! form */
