/*! Grid */

.g-grid {
    $self_indent: 1em;

    &-cont {
        clear: fix;
    }
    & {
        margin: 0 -$self_indent;
        display: flex;
        flex-wrap: wrap;
    }

    &__row {
        float: left;
    }

    &__el {
        float: left;
        padding: 0 $self_indent;
    }

    &_wrap-off {
        flex-wrap: nowrap;
    }

    &_jc-center {
        justify-content: center;
    }

    &_jc-around {
        justify-content: space-around;
    }

    &_jc-between {
        justify-content: space-between;
    }

    &_a-content-s {
        align-content: stretch;
    }

    &_a-item-c {
        align-items: center;
    }

    &_a-item-e {
      align-items: flex-end;
    }

    &_x2 & {
        &__el {
            width: 50%;
        }
    }
    &_x3 & {
        &__el {
            width: 33.333%;
        }
    }
    &_x4 & {
        &__el {
            width: 25%;
        }
    }
    &_x5 & {
        &__el {
            width: 20%;
        }
    }
    &_x6 & {
        &__el {
            width: 16.66%;
        }
    }
    @media screen and (max-width: $media_xl) {
        & {
            &_x3 & {
                &__el {}
            }
        }
    }
    @media screen and (max-width: $media_lg) {
        & {
            &_x3 & {
                &__el {
                    width: 50%;
                }
            }
            &_x4 & {
                &__el {
                    width: 33.333%;
                }
            }
            &_x5 & {
                &__el {
                    width: 25%;
                }
            }
            &_x6 & {
                &__el {
                    width: 20%;
                }
            }
        }
    }
    @media screen and (max-width: $media_md) {
        & {
            &_x4 & {
                &__el {
                    width: 50%;
                }
            }
            &_x5 & {
                &__el {
                    width: 33.333%;
                }
            }
            &_x6 & {
                &__el {
                    width: 25%;
                }
            }
        }
    }
    @media screen and (max-width: $media_sm) {
        & {
            &__el {
                width: 100%;
            }
        }
    }
}

/*! grid */
