@import "../abstracts/*.css";

/*! Tabs  */
    .g-tab {

        &-nav {
            clear: fix;

            &__wrapper {
                overflow: hidden;
                overflow-x: auto;
                display: flex;
                padding-left: 1px;
            }

            &-el {
                float: left;
                display: block;
                height: 4em;
                padding: 0.2em 2em;
                border: 1px solid #e7e7e7;
                margin-left: -1px;
                @extend %trans_all;
                &__txt {
                    font-size: 1.4em;
                }
                &.is-active {
                    background-color: #e7e7e7;
                }
            }
        }
        /* Tab Content */
        &-content {
            margin-top: -1px;
            background-color: #e7e7e7;
            &__pane {
                display: none;
                padding: 2em 2em 0.1em;
                .g-editor {
                    margin-bottom: 2em;
                }
                &.is-active {
                    display: block;
                    animation: fadeEffect 1s;
                    /* Fading effect takes 1 second */
                }
            }
        }
    }
    /* Go from zero to full opacity */

    @keyframes fadeEffect {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
/*! tabs  */
