<!-- Cookie -->
<div class="g-cookie">
    <div class="g-content">
        <div class="g-cookie__in">
            <div class="g-cookie__desc">
                <div class="g-editor g-editor_desc g-editor_sm">
                    <p>Данный веб-сайт использует файлы cookie для предоставления сервисов и улучшения взаимодействия с пользователем. <br/>Продолжая просмотр веб-сайта, вы автоматически соглашаетесь на использование файлов cookie согласно нашей политике в отношении файлов cookie.</p>
                </div>
            </div>
            <div class="g-cookie__btn g-abs g-abs_r">
                <button class="g-btn g-btn_big g-btn_bg_red js-cookie__close">
                    <span class="g-btn__txt">Ok</span>
                </button>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript'>

</script>
<!-- cookie -->
