<script>
/* begin Scroll Down Button */
(function() {
    'use strict';

    var btnScrollDown = document.querySelector('#scroll_down');

    function scrollDown() {
        var windowCoords = document.documentElement.clientHeight;
        (function scroll() {
            if (window.pageYOffset < windowCoords) {
                window.scrollBy(0, 10);
                setTimeout(scroll, 0);
            }
            if (window.pageYOffset > windowCoords) {
                window.scrollTo(0, windowCoords);
            }
        })();
    }

    btnScrollDown.addEventListener('click', scrollDown);
})();
/* end Scroll Down Button */

</script>
<div class="wrapper">
    <button type="button" class="scroll_down" id="scroll_down"></button>
</div>
<style>
    .wrapper {
        background: -webkit-linear-gradient(right, #c56f82, #497ccb);
        background: linear-gradient(270deg, #c56f82, #497ccb);
        height: 100vh;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }



    /* begin Scroll Down Button */

    button.scroll_down {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        height: 50px;
        width: 30px;
        bottom: 60px;
        background-color: transparent;
        border: 2px solid white;
        border-radius: 20px;
        cursor: pointer;
        outline: none;
    }

    button.scroll_down:before {
        position: absolute;
        top: 10px;
        left: 50%;
        content: '';
        width: 6px;
        height: 6px;
        margin-left: -3px;
        background-color: #fff;
        border-radius: 100%;
        -webkit-animation: scroll_down_btn-animation 2s infinite;
        animation: scroll_down_btn-animation 2s infinite;
        box-sizing: border-box;
    }

    @keyframes scroll_down_btn-animation {
        0% {
            transform: translate(0, 0);
            opacity: 0;
        }
        40% {
            opacity: 1;
        }
        80% {
            transform: translate(0, 20px);
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
</style>
