/* Hostcms Panel reset b*/
  .hostcmsPanel
  {
    z-index: 1002 !important;
  }
  .hostcmsPanel a
  {
    display:     inline-block !important;
    width:       auto !important;
    height:      auto !important;
    padding:     0 !important;
    line-height: normal !important;
    vertical-align: inherit !important;
  }
  .hostcmsWindow input,
  .hostcmsWindow textarea
  {
    color:        #000!important;
    text-shadow:  none!important;
    font-weight:  normal!important;
    font-style:   normal!important;
  }
/* Hostcms Panel reset e */