@import "../abstracts/*.css";

/* contact */

.contact {
    &__in {
        clear: fix;
    }

    &-gr {
        max-width: 51em;
        margin-bottom: 10em;
        &__title {
            margin-bottom: 4.4em;
            &-txt {
                font-size: 2.8em;
                line-height: 1.45;
                font-weight: 600;
            }
        }
        &__el {
            position: relative;
            padding: 0.4em 0 0 4.9em;
            min-height: 4em;
            margin-bottom: 3em;
            fill: $blue2;
            &:after {
                height: 3.2em;
            }
            &-ico {
                &-cont {
                    top: 0.9em;
                    size: 2.2em;
                }
                & {
                    size: 100%;

                    &_clock {
                        size: 2em;
                    }
                    &_phone {
                        size: 2.2em;
                    }
                    &_mail {
                        size: 2em 1.5em;
                    }
                    &_pos {
                        size: 1.4em 2em;
                    }
                }
            }
            &-txt {
                font-size: 1.6em;
                line-height: 1.875;
                a {
                    &:hover {
                        color: $blue2;
                    }
                }
            }
        }
        &__desc {
            margin-top: 5.6em;
            max-width: 48em;
            border-top: 1px solid $brd_grey;
            padding-top: 2.9em;
        }
        &__btn {
            margin-top: 6em;
            .g-btn {
                min-width: 17em;
            }
        }
    }

    &-info {
        clear: fix;
        background: $bg_grey;
        margin-bottom: 12em;
        &__el {
            float: left;
            height: 11em;
            overflow: hidden;
            width: 50%;
            padding: 1.15em 1em 1em;
            text-align: center;
            &-txt {
                font-size: 2.4em;
                line-height: 1.25;
                font-weight: 600;
            }
        }
    }

    &-map {
        height: 42em;
    }
}


/* // contact */
