<div id="modal_message" class="modal fade g-vac" tabindex="-1" role="dialog">
    <div class="modal-dialog g-vac__el" role="document">
        <div class="modal-content">
            <button type="button" class="modal-close abs abs_r abs_t" data-dismiss="modal" aria-label="Close">
                <svg role="presentation" aria-hidden="true" class="modal-close__ico abs">
                    <use xlink:href="images/sprites/sprites_label/svg/symbols.svg#symbol-cross"></use>
                </svg>
            </button>
            <div class="modal-header">
                <span class="modal-header__txt">БЕСПЛАТНАЯ КОНСУЛЬТАЦИЯ</span>
            </div>
            <div class="modal-body">
                <form action="/" name="form_message" class="g-form js-form_message">
                    <div class="g-form-item">
                        <div class="g-form-item__name">
                            <label for="form_message-name" class="g-form-item__name-txt">Как вас зовут ?</label>
                        </div>
                        <div class="g-form-item__field">
                            <input id="form_message-name" class="input" name="name" type="text" placeholder="Введите имя" />
                        </div>
                    </div>
                    <div class="g-form-item">
                        <div class="g-form-item__name">
                            <label for="form_message-email" class="g-form-item__name-txt">Ваш e-mail</label>
                        </div>
                        <div class="g-form-item__field">
                            <input id="form_message-email" class="input" name="email" type="text" placeholder="Введите e-mail" />
                        </div>
                    </div>
                    <div class="g-form-item">
                        <div class="g-form-item__name">
                            <label for="form_message-phone" class="g-form-item__name-txt">Ваш телефон</label>
                        </div>
                        <div class="g-form-item__field">
                            <input id="form_message-phone" class="input" name="phone" type="tel" placeholder="Ваш телефон" data-mask-phone="+7 (999) 999-99-99" />
                        </div>
                    </div>
                    <div class="g-form-item">
                        <div class="g-form-item__name">
                            <label for="form_message-select" class="g-form-item__name-txt">Ваш select</label>
                        </div>
                        <div class="g-form-item__field">
                            <select id="form_message-select" name="select" class="wide">
                                <option value="" data-display="Выбрать">...</option>
                                <option value="1">HD</option>
                                <option value="2">Full HD</option>
                                <option value="3">Ultra HD</option>
                            </select>
                        </div>
                    </div>
                    <div class="g-form-item">
                        <div class="g-form-item__name">
                            <label for="form_message-text" class="g-form-item__name-txt">Ваше сообщение</label>
                        </div>
                        <div class="g-form-item__field">
                            <textarea id="form_message-text" class="textarea" name="text" placeholder="Введите сообщение"></textarea>
                        </div>
                    </div>
                    <div class="g-form-item g-form-item_checkbox">
                        <div class="g-form-item__field">
                            <div class="checkbox-cont">
                                <div class="checkbox checkbox_mb-off">
                                    <label class="checkbox__label">
                                        <input class="checkbox__input" type="checkbox" name="form_agree" value="" />
                                        <i class="checkbox__diz abs abs_l">
                                            <svg role="presentation" class="checkbox__ico abs">
                                                <use xlink:href="images/sprites/sprites_label/svg/symbols.svg#symbol-check"></use>
                                            </svg>
                                        </i>
                                        <span class="checkbox__txt">Я согласен на обработку персональных данных</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="g-form-captcha">
                        <div class="g-recaptcha" data-sitekey="6LdyTikUAAAAAAPV6gGqHpM8QnOBoSRi_wN1BVN5"></div>
                        <input type="hidden" class="hiddenRecaptcha required" name="hiddenRecaptcha" id="hiddenRecaptcha">
                    </div>
                    <!-- /* g-form-captcha -->
                    <div class="g-form__btn">
                        <button class="g-btn">
                            <span class="g-btn__txt">Заказать</span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="modal-answer">
                <div class="editor editor_big">
                    <p>Спасибо, ваша заявка принята, в ближайшее время наш менеджер свяжется с вами для уточнения деталей.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal -->
