<div class="g-pag">
    <div class="content">
        <div class="g-pag__list">
            <div class="g-pag__current g-vac">
                <span class="g-pag__txt g-vac__el">1</span>
            </div>
            <a href="#" class="g-pag__link g-vac">
                <span class="g-pag__txt g-vac__el">2</span>
            </a>
            <a href="#" class="g-pag__link g-vac">
                <span class="g-pag__txt g-vac__el">3</span>
            </a>
            <a href="#" class="g-pag__link g-vac">
                <span class="g-pag__txt g-vac__el">4</span>
            </a>
            <a href="#" class="g-pag__link g-vac">
                <span class="g-pag__txt g-vac__el">5</span>
            </a>
            <div class="g-pag__split g-vac">
                <span class="g-pag__txt g-vac__el">…</span>
            </div>
            <a href="#" class="g-pag__link g-vac">
                <span class="g-pag__txt g-vac__el">30</span>
            </a>
            <a href="#" class="g-pag__next g-vac">
                <span class="g-pag__txt g-vac__el">Дальше</span>
                <svg role="presentation" aria-hidden="true" class="g-pag__next-ico abs abs_r">
                    <use xlink:href="#symbol-slider-next"></use>
                </svg>
            </a>
        </div>
    </div>
</div>
<!-- /* g-pag -->
