/*! Footer */

.g-footer {
    width: 100%;
    margin-top: auto;
    padding: 10.2em 0 9.6em;
    background: var(--bg-black);
    color: var(--c-white);
    &__in {
        clear: fix;
    }
    &__top {

    }
    &__bottom {
        padding-top: 9.4em;
    }
    &__left {
        float: left;
        max-width: 38em;
    }
    &__right {
        float: right;
        width: 100%;
        max-width: 78em;
        height: 100%;
    }

    &-logo {
        max-width: 25.4em;
        margin-bottom: 1.3em;
        &__link {
            display: inline-block;
            color: var(--c-white);
        }
        &__ico {
            display: block;
            max-height: 100%;
            margin-top: 0.6em;
            margin-bottom: 2.4em;
        }
        &__txt {
            display: block;
            font-size: 1.3em;
            line-height: 1.55;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
        }
    }
    &-copyright {
        max-width: 28em;
        &__year,
        &__txt {
            font-size: 1.3em;
            line-height: 1.55;
            color: var(--c-grey2);
        }
        &__year {
            margin-right: 0.3rem;
        }
    }

    &-nav {
        clear: fix;
        &-gr {
            min-width: 8em;
            &__in {
                display: inline-block;
                text-align: left;
            }
        }
        &-link {
            display: block;
            padding: 0.5em 0;
            color: var(--c-grey2);
            &__txt {
                font-size: 1.3em;
                line-height: 1.55;
            }

            &:hover,
            &.is-active {
                color: var(--c-white);
            }
            &.is-active {
                text-decoration: underline;
            }

            &_main {
                color: $orange;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 0.1rem;
                margin-bottom: 0.4em;
            }
        }
    }

    &-contact {
        margin-bottom: 2.4em;
        &-el {
            display: block;
            padding: 0.4em 0;
            color: var(--c-white);
            &__txt {
                font-size: 1.3em;
                line-height: 1.55;
            }

            &_big {
                font-weight: 600;
            }
            &_big & {

                &__txt {
                    font-size: 1.8em;
                    line-height: 1.4;
                }
            }
        }
    }

    &-time {
        margin-bottom: 3.9em;
        td:first-child {
            padding-right: 1.6rem;
        }
        &__txt {
            display: block;
            font-size: 1.3em;
            line-height: 1.45;
        }
    }

    &-social {
        margin-right: -3em;
        &__item {
            height: 2em;
            display: inline-block;
            margin-right: 3em;

            &:hover {
                opacity: 0.6;
            }
        }
        &__ico {
            max-height: 100%;
        }
    }

    &-paysystem {
        &__item {
            height: 3.6em;
            display: inline-block;
            margin-right: 2.7em;
        }
        &__ico {
            max-height: 100%;
        }
    }

    &-politics {
        float: left;
        &__link {
            display: inline-block;
            height: 4em;
            color: var(--c-grey2);
            &-txt {
                font-size: 1.3em;
                line-height: 1.55;
                text-decoration: underline;
            }
            &:hover {
                color: var(--c-white);
            }
        }
    }

    &-dev {
        float: right;
        &__item {
            float: left;
            height: 100%;
        }
        &__link {
            display: inline-block;
            height: 4em;
            margin-left: 4.8em;
            color: var(--c-grey2);
            &-txt {
                font-size: 1.3em;
                line-height: 1.55;
                text-decoration: underline;
            }
            &:hover {
                color: var(--c-white);
            }
        }
    }
    @media (--xl) {
        & {
            padding: 5em 0 4.6em;
            &__right {
                max-width: 64em;

                .g-grid {
                    &__el {
                        flex-grow: 1;
                        width: auto;
                    }
                }
            }
            &-nav {

                &-gr {
                    text-align: right;
                    &__in {
                    }
                }
            }

            &__bottom &__right {
                width: auto;
            }
        }
    }
    @media (--lg) {
        & {

            &__bottom {
                padding-top: 5em;
            }

            &__left,
            &__right {
                float: none;
                max-width: 100%;
            }
            &-nav {
                margin-bottom: 4em;
                .g-grid {
                    &__el {
                        width: 25%;
                    }
                }
                &-gr {
                    text-align: left;
                }
            }
            &-logo {
                max-width: 100%;
            }
            &-paysystem {
                margin-bottom: 3em;
            }
        }
    }
    @media (--md) {
        & {
            &-nav {
                .g-grid {
                    &__el {
                        width: 25%;
                    }
                }
            }

        }
    }
    @media (--md-767) {
        & {
            padding: 3em 0 4em;
            &__bottom {
                padding-top: 3em;
            }
            &-logo {
            }
            &-paysystem {
                margin-bottom: 4em;
            }
            &-nav {
                padding-bottom: 3em;
                margin-bottom: 2.5em;
                position: relative;
                &:after {
                    content: "";
                    display: block;
                    position: absolute * -$content_p_sm 0;
                    border-bottom: 1px solid $brd_grey;
                }
                &-link__txt {
                    font-size: 1.8em;
                    line-height: 1.4;
                }
                .g-grid {
                    &__el {
                        display: none;

                    }
                }
                & &__mob {
                    display: block;
                }
            }
            &-contact {
                margin-bottom: 0.6em;
                &-el {
                    padding: 0.8em 0;
                }
            }
            &-time {
                margin-bottom: 2.5em;
                td {
                    padding: 0.5rem 0;
                    &:first-child {
                        padding-right: 2rem;
                    }
                }
            }
            &-social {
                margin-right: -4.5em;
                &__item {
                    margin-right: 4.5em;
                }
            }
            &-politics,
            &-dev {
                float: none;
            }
            &-dev {
                &__link {
                    margin-left: 0;
                    margin-right: 4.2em;
                }
            }

        }
    }
}
/*! footer */
