/*! Header */

.g-header {

    &-cont {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: var(--z-header);
        box-shadow: 0 0.1em 0.3em rgba(#000000, 0.2);
        .is-header_fixed & {
            position: fixed;
        }
    }
    & {
        height: var(--header-height);
        background: var(--bg-hwite);
        clear: fix;
        overflow: hidden;
    }

    &__in {
        height: 100%;
        position: relative;
    }

    &__left {
        float: left;
        height: 100%;
    }

    &__right {
        float: right;
        height: 100%;
    }

    &__top {
        height: $header_top-h;
        background: $bg_black;
    }
    &__top & {
        &-in {
            margin: 0 -1.8em 0 -2em;
        }
    }

    &__mid {
        height: $header_mid-h;
        border-bottom: 1px solid $brd_grey;
    }
    &__mid & {
        &-in {
            padding-left: m($logo_w + 2em);
        }
    }

    &__bottom {
        height: $header_bottom-h;
    }

    &-city {
        height: 100%;
        &-btn {
            height: 100%;
            position: relative;
            padding: 0 2.7em 0.1em 2em;
            cursor: pointer;
            user-select: none;
            color: $white;
            fill: $white;
            &__txt {
                font-size: 1.3em;
                line-height: 1.5;
            }
            &__ico {
                size: 0.9em 0.6em;
                right: 1em;
            }
            &:hover {
                fill: $red;
            }
        }
        &-drop {
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
            @extend %trans_all;
            position: absolute auto * * 0;
            width: 24em;
            background: #FFF;
            padding-top: 0.5em;
            border-top: 1px solid $header_brd;
            border-radius: 0.3em;
            transform: translateY(2em);
            box-shadow: 0 0.2em 1.5em rgba(#000, 0.2);
            z-index: m($zHeader + 2);
            &-field {
                padding: 0.5em 2em 0.5em;
            }
            &__list {
                padding: 0.5em 0 1em;
                max-height: 14em;
                overflow: hidden;
                overflow-y: auto;
            }
            &-item {
                padding: 0 2em;
                &:after{
                    height: 3em;
                }
                &__txt {
                    font-size: 1.3em;
                    line-height: 1.5;
                }
                &.is-active {
                    font-weight: 600;
                    color: $grey;
                }

            }
        }
        .city-open & {
            &-btn {
                fill: $red;
                &__ico {
                    transform: rotate(-180deg);
                }
            }
            &-drop {
                display: block;
                pointer-events: all;
                visibility: visible;
                opacity: 1;
                transform: translateY(0em);
            }
        }
    }
    &-nav-top {
        float: left;
        height: 100%;
        text-align: right;
        &__btn {
            height: 100%;
        }
    }
    &-cab {
        float: left;
        height: 100%;
        min-width: 13em;
        padding-left: 1em;
        text-align: right;
        &__btn {
            height: 100%;
            min-width: 1em;
            &-txt {
                white-space: nowrap;
                max-width: 18rem;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &:hover {
                color: $orange;
            }
        }
    }

    &-logo {
        display: block;
        width: $logo_w;
        background: #FFF;
        overflow: hidden;
        z-index: 100;
        padding: 0.5em;
        &__ico {
            &-cont {
                display: block;
                width: 100%;
                height: 100%;
                position: relative;
            }
            & {
                max-width: 100%;
                max-height: 100%;
                &_big {
                }
                &_sm {
                    display: none;
                }
            }
        }
    }

    &-burger {
        display: none;
        z-index: 10;
        width: 6em;
        height: 100%;
        &-ico {
            width: 2.7em;
            height: 1.9em;
            right: 1em;
            &__line {
                height: 0.3em;
                min-height: 1px;
                background: $bg_green2;
                transition: all 0.25s ease;
            }
        }
        .nav-open & {
            & {
                &-ico {
                    &__line {
                        &.g-abs_c {
                            opacity: 0;
                        }
                        &.g-abs_t {
                            transform: rotate(45deg) translate(0.5em, 0.6em);
                        }
                        &.g-abs_b {
                            transform: rotate(-45deg) translate(0.5em, -0.6em);
                        }
                    }
                }
            }
        }
    }

    &__btn {
        height: 100%;
        float: left;
        max-width: 20em;
    }

    &__info {
        height: 100%;
        float: left;
        padding-top: 0.1em;

        &-in {
            max-width: 28em;
            margin-left: 4.9em;
            text-align: left;
        }

        &-ico {
            &-wrap {
                size: 4em;
            }
            & {
                fill: $green2;
                &_mail {
                    size: 3.4em 2.4em;
                }
                &_phone {
                    size: 3em 2.9em;
                }
            }
        }

        &-phone {
            margin-bottom: 0.2em;
            height: 4em;
            max-width: 25em;
            position: relative;
            padding-left: 4.5em;
            &__txt {
                font-size: 2em;
            }
        }
        &-mail {
            margin-top: 0.1em;
            height: 4em;
            position: relative;
            padding-left: 5em;
            &__txt {
                font-size: 1.6em;
            }
        }
    }

    &-cart {
        height: 100%;
        float: left;
        max-width: m(23em + 6.5em);
        padding: 0 0 0.1em 6.5em;

        &__el {
            height: 4.1em;
            position: relative;
            padding-left: 4.5em;
        }

        &-ico {
            &-wrap {
                size: 4em;
                &__num {
                    right: 100%;
                }
            }
            & {
                fill: $green2;
                size: 3.6em 3.2em;
            }
        }
        &-num {
            height: 2em;
            min-width: 2em;
            z-index: 1;
            background: $bg_red2;
            border-radius: 1em 1em 0 1em;
            padding: 0 0 0 0.3em;
            color: $white;
            text-align: center;
            &__txt {
                font-size: 1.3em;
                font-weight: 500;
            }
        }
        &__txt {
            font-size: 2em;
            &-num {
                font-weight: 500;
                margin-right: 1rem;
            }
        }
    }

    @media screen and (max-width: $media_1279) {
        & {
        }
    }
}
/*! header */
