/*! Base */

html {

    &.is-lock,
    &.is-lock body {
        overflow: hidden;

        .g-overlay {
            opacity: 0.85;
            visibility: visible;
            pointer-events: auto;
        }
    }
}

.g-overlay {
    content: "";
    display: block;
    position: fixed 0 0 0 0;
    min-height: 100%;
    min-height: 100vh;
    z-index: var(--z-overlay);
    background: #293342;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.25s ease;
}

body {
    color: var(--c-black);
    background: var(--bg-hwite);
    -webkit-font-smoothing: subpixel-antialiased;
    font-smoothing: subpixel-antialiased;
    height: 100%;
}

.g-body__wrap {
    display: flex;
    flex-wrap: wrap;
    min-width: 32em;
    min-height: 100%;
    min-height: 100vh;
    padding-top: var(--header-height);
    position: relative;
    overflow: hidden;
    &-in {
        width: 100%;
    }
}

.g-content {
    max-width: var(--content-w);
    margin: 0 auto;
    box-sizing: padding-box;
    padding: 0 var(--content-p);

    &_large {
        max-width: var(--content-w-large);
    }

    &_h {
        height: 100%;
    }

    & & {
        padding: 0;
        max-width: $content_w;
    }
    @media screen and (max-width: $media_sm) {
        & {
            padding: 0 var(--content-p-sm);
        }
    }
}

.g-to-top {
    display: block;
    position: fixed;
    top: 100%;
    left: 50%;
    margin-left: calc(var(--content-w)/2 + 5.5em);
    width: 4em;
    height: 4em;
    border-radius: 100%;
    border: 3px solid green;
    box-shadow: 0 1.3em 1.6em rgba(#adc5b2, 0.25);
    background: #FFF;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: all 0.35s ease;
    &__ico {
        width: 1.6em;
        height: 1.6em;
    }
    &:hover {
        fill: $green;
        border-color: $brd_green;
    }
    &:hover & {
        &__ico {
            animation: up_down 0.6s infinite linear;
        }
    }
    &.active {
        opacity: 1;
        transform: translateY(-8em);
        pointer-events: auto;
    }
    @media screen and (max-width: $media_1400) {
        & {
            left: auto;
            right: 1em;
            margin-left: 0;
        }
    }
    @media screen and (max-width: $media_sm) {
        & {
            right: 0.5em;
        }
    }
}
@keyframes up_down {
    0% { transform: translateY(0%) }
    30% { transform: translateY(15%) }
    70% { transform: translateY(-15%) }
    100% { transform: translateY(0%) }
}


/* base */
