@import "../abstracts/*.css";

/*! Inner page */

.g-inner-page {

    &__heading {
        padding-top: 1.6em;
        margin-bottom: 3.5em;
        &-txt {
            font-size: 2.4em;
            line-height: 1.25;
            font-weight: 600;
        }
    }
}
.g-breadcrumbs {
    padding-top: 0.6em;
    &__wrap {
        overflow: hidden;
    }
    &-txt {
        padding: 1.5rem 0;
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 1.4em;
        color: $blue;
        &__link {
            padding: 1rem 0;
            color: $cbody;
            &:hover {
                text-decoration: underline;
            }
        }
        &__split {
            margin: 0 0.7rem;
            color: $cbody;
        }
    }
}


/*! inner page */
