@import "../abstracts/*.css";

/* navigation mobile */

$link_p: 3em;
.nav-mob {
    $indent_prl: 2em;
    z-index: $zNav;
    position: fixed 0 * 0 100%;
    width: 100%;
    max-height: 100%;
    max-height: 100vh;
    min-height: 100vh;
    overflow: hidden;
    padding: $header-h 0 0;
    pointer-events: none;
    transform: translateX(0%);
    transition: transform 0.35s ease-in-out;
    background: #FFF;
    &__wrap {
        max-height: 100%;
        clear: fix;
        position: relative;
        padding: 0;
        overflow: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

    &__in {
        padding-bottom: 4em;
        /*trasnform: translateZ(0);*/
    }

    &-cab {
        overflow: hidden;
        margin: 0 -1px 0 -2px;
        &-el {
            width: 50%;
            float: right;
            height: 6em;
            padding: 0 2em;
            border: 1px solid $brd_grey;
            margin: -1px 0 0 -1px;
            text-align: center;
            fill: $cbody;
            &__in {
                white-space: nowrap;
            }
            &__ico {
                display: inline-block;
                vertical-align: middle;
                size: 2em;
                margin-right: 0.7em;
            }
            &__txt {
                display: inline-block;
                vertical-align: middle;
                font-size: 1.4em;
                line-height: 1.5;
                font-weight: 600;
            }
        }
    }

    &__list {
        display: block;
        clear: fix;
        margin-bottom: 2em;
    }
    &-item {
        margin-top: -1px;

        &__title {
            position: relative;
            &-bg {
                background: transparent;
                z-index: -1;
            }
            &-btn {
                size: 7em 100%;
                bottom: 0.1em;
                fill: $cbody;
                z-index: 10;
                &-ico {
                    size: 1.1em 0.6em;
                    transition: transform 0.25s ease;
                }
                &[aria-expanded="true"] & {
                    &-ico {
                        transform: rotate(180deg);
                    }
                }
            }
            &-btn[aria-expanded="true"]~& {
                &-bg {
                    background: #F6F5F7;
                    z-index: -1;
                }
            }
        }
        &__title & {
            &__link {
                padding-right: 7em;
            }
        }

        &__link {
            display: block;
            border-top: 1px solid $brd_grey;
            border-bottom: 1px solid $brd_grey;
            height: 5.1em;
            padding: 0 $link_p;
            color: $cbody;
            fill: currentColor;
            @extend trans_all;
            &-txt {
                font-size: 1.4em;
                font-weight: 600;
            }
            &:active {
                color: $blue;
            }
        }
        &-drop {
            background: #F9F9FA;
            min-width: 20em;
            padding: 1.8em 0 2.2em;

            &__link {
                display: block;
                color: #92979E;
                padding: 0.5em $link_p 0.6em;
                @extend trans_color;
                &-txt {
                    font-size: 1.4em;
                    line-height: 1.4;
                    text-decoration: underline;
                }
                &:active {
                    color: $blue;
                }
            }
        }
    }

    &__btn {
        margin: 2em 0;
        padding: 0 2em;
    }

    &-contact {
        padding: 0.7em 3em;
        &-item {}
        &__link {
            display: inline-block;
            color: currentColor;
            fill: $blue;
            position: relative;
            padding: 0 0 0.2em m(1.5em + 2em);
            @extend trans_color;
            &:after {
                height: 3em;
            }
            &-ico {
                &-cont {
                    size: 1.7em;
                }
                & {
                    size: 1.5em;
                    &_phone {
                        size: 1.7em;
                        bottom: 0.3em;
                    }
                    &_mail {
                        size: 1.5em 1.1em;
                    }
                }
            }
            &-txt {
                font-size: 1.6em;
                font-weight: 600;
            }
            &:active {
                color: $blue;
            }
        }
    }

    &-text {
        padding: 0.7em 3em;
        .editor {
            font-size: 1.4em;
            line-height: 1.4;
            font-weight: 600;
            max-height: 100%;
            overflow: hidden;
        }
    }

    .nav-open & {
        & {
            transform: translateX(-100%);
            pointer-events: auto;
        }
    }
}


/* // navigation mobile */
