@import "../abstracts/*.css";

/*! Pagination */

.g-pag {
    margin: 5em 0;
    &__list {
        clear: fix;
    }
    &__link,
    &__current,
    &__split,
    &__prev,
    &__next {
        float: left;
        size: auto 3em;
        min-width: 3em;
        padding: 0 0.3em 0 0.5em;
        background: #FFF;
        border-radius: 1.5em;
        overflow: hidden;
        text-align: center;
        @extend trans_all;
        &:hover {
            color: $blue;
            fill: $blue;
        }
    }
    &__current {
        background: $bg_blue;
        color: #fff;
        &:hover {
            color: #fff;
        }
    }
    &__split {
        background: #fff;
        &:hover {
            color: $cbody;
        }
    }
    &__next {
        border-raius: 0;
        position: relative;
        &-ico {
            size: 0.6em 1em;
            top: 0.1em;
            @extend trans_trf;
        }
        &:hover {
            background: #fff;
        }
    }
    &__next {
        padding-right: 2.3em;
        margin-left: 2.6em;
        &:hover & {
            &-ico {
                transform: translateX(-0.8em);
            }
        }
    }
    &__txt {
        font-size: 1.5em;
        font-weight: 600;
        white-space: nowrap;
    }
}

/*! pager */
