<nav id="nav-mob" class="nav-mob">
    <div class="nav-mob__wrap">
        <div class="nav-mob__in">
            <div class="nav-mob-cab">
                <div class="nav-mob-cab-el nav-mob-cab-el_reg g-vac">
                    <div class="nav-mob-cab-el__in g-vac__el">
                        <svg role="presentation" class="nav-mob-cab-el__ico">
                            <use xlink:href="images/sprites/sprites_label/svg/symbols.svg#symbol-reg"></use>
                        </svg>
                        <span class="nav-mob-cab-el__txt">Регистрация</span>
                    </div>
                </div>
                <div class="nav-mob-cab-el nav-mob-cab-el_login g-vac">
                    <div class="nav-mob-cab-el__in g-vac__el">
                        <svg role="presentation" class="nav-mob-cab-el__ico">
                            <use xlink:href="images/sprites/sprites_label/svg/symbols.svg#symbol-login"></use>
                        </svg>
                        <span class="nav-mob-cab-el__txt">Вход</span>
                    </div>
                </div>
            </div>
            <div class="nav-mob__list">
                <div class="nav-mob-item">
                    <div class="nav-mob-item__title">
                        <a href="service.html" class="nav-mob-item__link g-vac">
                            <span class="nav-mob-item__link-txt g-vac__el">Услуги</span>
                        </a>
                        <button type="button" class="nav-mob-item__title-btn abs abs_r" role="button" data-toggle="collapse" aria-expanded="false" data-target="#nav-mob-item-drop-1" aria-controls="nav-mob-item-drop-1">
                            <svg role="presentation" class="nav-mob-item__title-btn-ico">
                                <use xlink:href="images/sprites/sprites_label/svg/symbols.svg#symbol-arrow_down-nav-mob"></use>
                            </svg>
                        </button>
                        <div class="nav-mob-item__title-bg abs"></div>
                    </div>
                    <div id="nav-mob-item-drop-1" class="nav-mob-item-drop__cont collapse" role="tabpanel">
                        <div class="nav-mob-item-drop">
                            <a href="service_inner.html" class="nav-mob-item-drop__link">
                                <span class="nav-mob-item-drop__link-txt">СМС рассылка</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="nav-mob-item">
                    <a href="reseller.html" class="nav-mob-item__link g-vac">
                        <span class="nav-mob-item__link-txt g-vac__el">Реселлерам</span>
                    </a>
                </div>
                <div class="nav-mob-item">
                    <a href="contact.html" class="nav-mob-item__link g-vac">
                        <span class="nav-mob-item__link-txt g-vac__el">Контакты</span>
                    </a>
                </div>
            </div>
            <div class="nav-mob__btn">
                <a href="#" data-toggle="modal" data-target=".modal_request-g" class="g-btn">
                    <span class="g-btn__txt">Оставить заявку</span>
                </a>
            </div>
            <div class="nav-mob-contact">
                <div class="nav-mob-contact-item">
                    <a href="tel:8(800)550-17-89" class="nav-mob-contact__link  g-vac">
                        <span class="nav-mob-contact__link-ico-cont abs abs_l">
                            <svg role="presentation" class="nav-mob-contact__link-ico nav-mob-contact__link-ico_phone abs abs_l">
                                <use xlink:href="images/sprites/sprites_label/svg/symbols.svg#symbol-phone"></use>
                            </svg>
                        </span>
                        <span class="nav-mob-contact__link-txt g-vac__el">8 (800) 550-17-89</span>
                    </a>
                </div>
                <div class="nav-mob-contact-item">
                    <a href="mailto:info@pir.companey" class="nav-mob-contact__link  g-vac">
                        <span class="nav-mob-contact__link-ico-cont abs abs_l">
                            <svg role="presentation" class="nav-mob-contact__link-ico nav-mob-contact__link-ico_mail abs abs_l">
                                <use xlink:href="images/sprites/sprites_label/svg/symbols.svg#symbol-mail"></use>
                            </svg>
                        </span>
                        <span class="nav-mob-contact__link-txt g-vac__el">info@pir.companey</span>
                    </a>
                </div>
            </div>
            <div class="nav-mob-text">
                <div class="nav-mob-text__in">
                    <div class="editor editor_mb-off editor_off">
                        <p>Время работы: 9:00 – 18:00 по будням</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- /* nav-mob -->
<div class="g-overlay js-nav-mob__close"></div>
