/*! Font-size settings */

html,
body,
table,
button,
input,
textarea,
select {
    font-size: 10px;
    font-family: 'Open Sans', 'Roboto', 'Ubuntu', sans-serif;
}

ymaps {
    font-family: 'Open Sans', 'Roboto', 'Ubuntu', sans-serif;
}

.Fw\(400\) {
    font-weight: 400;
}

.Fw\(b\),
.Fw\(700\),
strong,
b,
.fwb {
    font-weight: bold;
}

.Fw\(m\),
.Fw\(500\) {
    font-weight: 500;
}

.Fw\(sb\),
.Fw\(600\) {
    font-weight: 600;
}

em,
i,
.Fs\(i\) {
    font-style: italic;
}

/* .currency {
  &_rub {
    font-size: 1em;
    size: 0.55em 0.75em;
  }
} */

.Fz\(10\) {
    font-size: 1em;
    line-height: 1.5;
}

h6,
.h6,
.t-h6 {
    font-size: 1.2em;
    line-height: 1.6;
}

h5,
.h5,
.t-h5 {
    font-size: 1.4em;
    line-height: 1.45;
}

h4,
.h4,
.t-h4 {
    font-size: 1.6em;
    line-height: 1.875;
}

h3,
.h3,
.t-h3 {
    font-size: 1.7em;
    line-height: 1.4;
}

h2,
.h2,
.t-h2 {
    font-size: 2em;
    line-height: 1.25;
}

h1,
.h1,
.t-h1 {
    font-size: 2.4em;
    line-height: 1.2;
}

@media screen and (max-width: $media_sm) {

    h2,
    .h2,
    .t-h2 {
        font-size: 1.8em;
        line-height: 1.4;
    }

    h1,
    .h1,
    .t-h1 {
        font-size: 2em;
        line-height: 1.3;
    }
}
/*! font-size settings */
