@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/proxima_nova_regular-webfont.eot');
    src: url('../fonts/proxima_nova_regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/proxima_nova_regular-webfont.woff2') format('woff2'),
    url('../fonts/proxima_nova_regular-webfont.woff') format('woff'),
    url('../fonts/proxima_nova_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/proxima_nova_bold-webfont.eot');
    src: url('../fonts/proxima_nova_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/proxima_nova_bold-webfont.woff2') format('woff2'),
    url('../fonts/proxima_nova_bold-webfont.woff') format('woff'),
    url('../fonts/proxima_nova_bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/proxima_nova_regular_italic-webfont.eot');
    src: url('../fonts/proxima_nova_regular_italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/proxima_nova_regular_italic-webfont.woff2') format('woff2'),
    url('../fonts/proxima_nova_regular_italic-webfont.woff') format('woff'),
    url('../fonts/proxima_nova_regular_italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
