/*! Setting base element */

*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

hr {
    display: block;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $cbody;
    &:focus {
        outline-color: $blue;
    }

    &[href ^="tel"] {
        white-space: nowrap;
        cursor: default;
    }
    &[href ^="mailto"] {
        white-space: nowrap;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

iframe {
    max-width: 100%;
}

/* wrap element */

.g-wrap {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

/* visual hidden element */

.g-visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0 none;
    outline: 0 none;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Null and clearfix*/

.g-null {
    display: inline-block;
    width: 0px;
    height: 0px;
    font-size: 0px;
    clear: both;
}

html[xmlns] .g-null {
    display: block;
}

/* Vertical align middle element */

.g-vac {
    @extend %g-vac;
}

.g-vac:after {
    @extend %g-vac_after;
}

.g-vac__el {
    @extend %g-vac__el;
}


/* Diz absolute */

.g-diz,
.g-diz__img,
.g-diz__bg {
    @extend %diz;
}

.g-abs {
    @extend %abs;

    &_t {
        bottom: auto;
    }
    &_r {
        left: auto;
    }
    &_b {
        top: auto;
    }
    &_l {
        right: auto;
    }
}

/* background image */

.g-bg_cover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* column */

.g-column_x2 {
    column-count: 2;
    column-gap: 2rem;
}

/*! Atomic classes */

.D\(b\) {
    display: block;
}

.D\(ib\) {
    display: inline-block;
}

.Fl\(start\) {
    float: left;
}

.Fl\(end\) {
    float: right;
}

.Fl\(n\) {
    float: none;
}

.H\(100\%\) {
    height: 100%;
}

.Pos\(r\) {
    position: relative;
}

.Ta\(end\) {
    text-align: right;
}

.Ta\(c\) {
    text-align: center;
}

.Tbl\(f\) {
    table-layout: fixed;
}

.Tt\(u\) {
    text-transform: uppercase;
}

.V\(h\) {
    visibility: hidden;
}

.V\(v\) {
    visibility: visible;
}

.W\(100\%\) {
    width: 100%;
}

.Whs\(n\) {
    white-space: normal;
}

.Whs\(nw\) {
    white-space: nowrap;
}

/*! atomic classes */
