{% macro btn(title, link, classes, ico) %}
    {% set link = link or "#" %}
    <a href="{{link}}" class="g-btn {{classes}}">
        {% if ico %}
        <svg role="presentation" class="g-btn__ico g-btn__ico_l g-btn__ico_{{ico}}">
            <use xlink:href="#symbol-{{ico}}"></use>
        </svg>
        {% endif %}
        <span class="g-btn__txt">{{title}}</span>
    </a>
{% endmacro %}

{% macro button(title, classes, ico, disabled, type, onclick) %}
    {% set type =  type or "button" %}
    <button type="{{type}}" class="g-btn {{classes}}" {% if disabled %}disabled="{{ disabled }}"{% endif %} {% if onclick %}{{ onclick }}{% endif %}>
        {% if ico %}
        <svg role="presentation" class="g-btn__ico g-btn__ico_{{ico}}">
            <use xlink:href="#symbol-{{ico}}"></use>
        </svg>
        {% endif %}
        <span class="g-btn__txt">{{title}}</span>
    </button>
{% endmacro %}
