{% macro input(title, pl, type, name, val, class) %}
    {% set type = type or "text" %}
    {% set val = val or "" %}
    {% set pl = pl or "" %}
    <div class="g-form-item">
        <div class="g-input-item {% if type == 'password' %}js-input-pass{% endif %}  {% if class != '' %}{{class}}{% endif %}">
            <label class="g-input-item__label">
                {% if title != "" %}
                <span class="g-input-item__name">{{title}}</span>
                {% endif %}
                <input class="g-input-item__field" type="{{type}}" name="{{name}}" value="{{val}}" placeholder="{{pl}}" />
                {% if type == 'password' %}
                <button type="button" class="g-input-item-btn g-abs g-abs_r g-abs_b js-input-pass__btn">
                    <svg role="presentation" class="g-input-item-btn-ico g-input-item-btn-ico_open g-abs">
                        <use xlink:href="#symbol-eye"></use>
                    </svg>
                    <svg role="presentation" class="g-input-item-btn-ico g-input-item-btn-ico_close g-abs">
                        <use xlink:href="#symbol-eye_close"></use>
                    </svg>
                </button>
                {% endif %}
            </label>
        </div>
    </div>
{% endmacro %}

{% macro textarea(title, pl, name, class) %}
    {% set name = name or "text" %}
    {% set pl = pl or "" %}
    <div class="g-form-item">
        <div class="g-input-item {% if class != '' %}{{class}}{% endif %}">
            <label class="g-input-item__label">
                {% if title != "" %}
                <span class="g-input-item__name">{{title}}</span>
                {% endif %}
                <textarea class="g-input-item__textarea js-input-item__field js_autosize" rows='1' name="{{name}}"  placeholder="{{pl}}" autocomplete="off"></textarea>
            </label>
        </div>
    </div>
{% endmacro %}

{% macro checkbox(title, name) %}
    <div class="g-form-item g-form-item_checkbox">
        <div class="g-form-item__field">
            <div class="g-checkbox-cont">
                <div class="g-checkbox g-checkbox_mb-off">
                    <label class="g-checkbox__label">
                        <input class="g-checkbox__input" type="checkbox" name="{{name}}" value="" />
                        <i class="g-checkbox__diz g-abs g-abs_l">
                          <svg role="presentation" class="g-checkbox__ico g-abs">
                            <use xlink:href="#symbol-check"></use>
                          </svg>
                        </i>
                        <span class="g-checkbox__txt">{{title}}</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro captcha() %}
    <div class="g-form-item  g-form-item_captcha">
        <img src="images/reCaptcha.png" alt="reCaptcha"/>
    </div>
{% endmacro %}

{% macro formVal(title, val) %}
    {% set val = val or "" %}
    <div class="g-form-val">
        <div class="g-form-val-item">
            <span class="g-form-val-item__name t-h6">{{title}}</span>
            <span class="g-form-val-item__txt t-h5 Fw(sb)">{{val}}</span>
        </div>
    </div>
{% endmacro %}
