<div class="g-layout-r-social">
    <div class="g-layout-r-social__item">
        <!-- SMMrussia change to Profibeer -->
        <iframe id="facebook_iframe" class="facebook_iframe" width="100%" height="228" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        <script type="text/javascript">
        function setupFBframe(frame) {
            var container = frame.parentNode;

            var containerWidth = container.offsetWidth;
            var containerHeight = container.offsetHeight;

            var src =
                "https://www.facebook.com/plugins/page.php" +
                "?href=https%3A%2F%2Fwww.facebook.com%2FSMMrussia" +
                "&tabs" +
                "&width=" +
                containerWidth +
                "&height=" +
                containerHeight +
                "&small_header=false" +
                "&adapt_container_width=true" +
                "&hide_cover=false" +
                "&hide_cta=true" +
                "&show_facepile=true" +
                "&appId=149852325446246";

            frame.width = containerWidth;
            frame.height = containerHeight;
            frame.src = src;
        }
        /* begin Document Ready */
        document.addEventListener('DOMContentLoaded', function() {
            var facebookIframe = document.querySelector('#facebook_iframe');
            setupFBframe(facebookIframe);

            /* begin Window Resize */

            (function() {
                window.addEventListener("resize", resizeThrottler, false);

                var resizeTimeout;

                function resizeThrottler() {
                    if (!resizeTimeout) {
                        resizeTimeout = setTimeout(function() {
                            resizeTimeout = null;
                            actualResizeHandler();
                        }, 66);
                    }
                }

                function actualResizeHandler() {
                    document.querySelector('#facebook_iframe').removeAttribute('src');
                    setupFBframe(facebookIframe);
                }
            })();
            /* end Window Resize */
        });
        /* end Document Ready */

        </script>
    </div>
    <div class="g-layout-r-social__item">
        <script type="text/javascript" src="//vk.com/js/api/openapi.js?151"></script>
        <!-- VK Widget -->
        <div id="vk_widget" style="width:100%"></div>
        <script type="text/javascript">
        function vkWidgetInit() {
            var containerWidth = document.querySelector('#vk_widget').clientWidth;

            document.querySelector('#vk_widget').innerHTML = '<div id="vk_groups"></div>';

            VK.Widgets.Group("vk_groups", {
                mode: 3,
                no_cover: 0,
                color3: '507299',
                width: containerWidth,
            }, 75038710);
        }

        /* begin Document Ready */
        document.addEventListener('DOMContentLoaded', function() {

            vkWidgetInit();

            /* begin Window Resize */
            (function() {
                window.addEventListener("resize", resizeThrottler, false);

                var resizeTimeout;

                function resizeThrottler() {
                    if (!resizeTimeout) {
                        resizeTimeout = setTimeout(function() {
                            resizeTimeout = null;
                            actualResizeHandler();
                        }, 66);
                    }
                }

                function actualResizeHandler() {
                    vkWidgetInit();
                }

            })();
            /* end Window Resize */

        });
        /* end Document Ready */

        </script>
    </div>
</div>
