<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='ru' lang='ru' class="no-js">

<head>
    <meta charset="utf-8" />
    <title>Title</title>
    <meta name='keywords' content='' />
    <meta name='description' content='' />
    <!-- <meta name="viewport" content="width=device-width" /> -->
    <meta content="width=device-width,initial-scale=1,user-scalable=no" name="viewport" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="address=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="x-rim-auto-match" content="none" />
    <!-- <meta property="og:image" content='images/logo-200-vk.png'  /> -->
    <!-- <meta name="application-name" content="Title" /> -->
    <!-- <meta name="msapplication-tooltip" content="Description"/> -->
    <!-- <meta name = "apple-mobile-web-app-title" content = "Артатом">
    <meta name="apple-mobile-web-app-status-bar-style" content="#eb4c56"> -->
    <!-- <link type='image/x-icon' rel='icon' href='images/favicon/favicon.ico' /> -->
    <!-- <link type='image/x-icon' rel='shortcut icon' href='images/favicon/favicon.ico' /> -->
    <!-- <link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="images/favicon/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png" />
    <link rel="manifest" href="images/favicon/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png" />
    <meta name="msapplication-config" content="images/favicon/browserconfig.xml"/>
    <meta name="theme-color" content="#ffffff" /> -->
    <link type='text/css' rel='stylesheet' href='css/style_main.css' />
    <!-- <link type='text/css' rel='stylesheet' href='js/vendor/magnific/magnific-popup.min.css' /> -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700&amp;subset=cyrillic" rel="stylesheet">
    <!--[if lt IE 10]>
        <script src="js/vendor/classList.min.js"></script>
        <script src="js/vendor/html5shiv.min.js"></script>
    <![endif]-->
</head>
{% from "macros/btns.html" import  btn, button %}

<body>
    {% include "sprites/sprites_label/svg/symbols.svg" %}
    <div class="g-header-cont">
        <header id="header" class="g-header">

            <div class="g-header__top">
                <div class="g-content g-content_h g-content_large">
                    <div class="g-header__in">
                        <div class="g-header__left">
                            <div class="g-header-city">
                                <div class="g-header-city-btn g-vac js-city__btn">
                                    <span class="g-header-city-btn__txt g-vac__el">Воронеж</span>
                                    <svg role="presentation" class="g-header-city-btn__ico g-abs g-abs_r">
                                        <use xlink:href="#symbol-arrow_text-down"></use>
                                    </svg>
                                </div>
                                <div class="g-header-city-drop">
                                    <div class="g-header-city-drop-field">
                                        <input class="g-header-city-drop__input g-input__search g-input__search_sm" type="search" />
                                    </div>
                                    <div class="g-header-city-drop__list">
                                        <div class="g-header-city-drop-item g-vac is-active">
                                            <span class="g-header-city-drop-item__txt g-vac__el">Воронеж</span>
                                        </div>
                                        <div class="g-header-city-drop-item g-vac">
                                            <span class="g-header-city-drop-item__txt g-vac__el">Москва</span>
                                        </div>
                                        <div class="g-header-city-drop-item g-vac">
                                            <span class="g-header-city-drop-item__txt g-vac__el">Санкт-Петербург</span>
                                        </div>
                                        <div class="g-header-city-drop-item g-vac">
                                            <span class="g-header-city-drop-item__txt g-vac__el">Великий Новгород</span>
                                        </div>
                                        <div class="g-header-city-drop-item g-vac">
                                            <span class="g-header-city-drop-item__txt g-vac__el">Владивосток</span>
                                        </div>
                                        <div class="g-header-city-drop-item g-vac">
                                            <span class="g-header-city-drop-item__txt g-vac__el">Калининград</span>
                                        </div>
                                        <div class="g-header-city-drop-item g-vac">
                                            <span class="g-header-city-drop-item__txt g-vac__el">Краснодар</span>
                                        </div>
                                        <div class="g-header-city-drop-item g-vac">
                                            <span class="g-header-city-drop-item__txt g-vac__el">Липецк</span>
                                        </div>
                                        <div class="g-header-city-drop-item g-vac">
                                            <span class="g-header-city-drop-item__txt g-vac__el">Нижний Новгород</span>
                                        </div>
                                        <div class="g-header-city-drop-item g-vac">
                                            <span class="g-header-city-drop-item__txt g-vac__el">Новомосковск</span>
                                        </div>
                                        <div class="g-header-city-drop-item g-vac">
                                            <span class="g-header-city-drop-item__txt g-vac__el">Ростов-на-Дону</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="g-header__right">
                            <div class="g-header-nav-top">
                                <a href="payment.html" class="g-btn g-btn_link g-btn_sm g-btn_white g-header-nav-top__btn">
                                    <span class="g-btn__txt">Оплата</span>
                                </a>
                                <a href="delivery.html" class="g-btn g-btn_link g-btn_sm g-btn_white g-header-nav-top__btn">
                                    <span class="g-btn__txt">Доставка</span>
                                </a>
                            </div>

                            <div class="g-header-cab">
                                {%if cabinet == undefined %}
                                <a href="check-in.html" class="g-btn g-btn_link g-btn_sm g-btn_red g-header-cab__btn">
                                    <span class="g-btn__txt">Вход</span>
                                </a>
                                {% else %}
                                <a href="cabinet.html" class="g-btn g-btn_sm g-btn_white g-header-cab__btn">
                                    <svg role="presentation" class="g-btn__ico g-btn__ico_l g-btn__ico_reg">
                                        <use xlink:href="#symbol-reg"></use>
                                    </svg>
                                    <span class="g-btn__txt g-header-cab__btn-txt">Михайлов Михаил</span>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="g-header__mid">
                <div class="g-content g-content_h g-content_large">
                    <div class="g-header__in">
                        <a href="index.html" class="g-header-logo g-vac g-abs g-abs_l">
                            <img class="g-header-logo__ico g-vac__el" src="images/logo.svg" alt="" />
                        </a>

                        <div class="g-header__right">
                            <div class="g-header__btn  g-vac">
                                <div class="g-header__btn-in  g-vac__el">
                                    <button type="button" class="g-btn g-btn_brd_grey g-btn_sm g-btn_w_min g-btn_faq" data-toggle=modal data-target=#modal_faq>
                                        <svg role="presentation" class="g-btn__ico g-btn__ico_faq">
                                            <use xlink:href="#symbol-faq"></use>
                                        </svg>
                                        <span class="g-btn__txt">Задать вопрос</span>
                                    </button>
                                </div>
                            </div>
                            <div class="g-header__info g-vac">
                                <div class="g-header__info-in g-header__info-in_mail g-vac__el">
                                    <a href="mailto:info@dandrobena.ru" class="g-header__info-mail g-vac">
                                        <span class="g-header__info-ico-wrap g-abs g-abs_l">
                                            <svg role="presentation" class="g-header__info-ico g-header__info-ico_mail g-abs">
                                                <use xlink:href="#symbol-mail"></use>
                                            </svg>
                                        </span>
                                        <span class="g-header__info-mail__txt g-vac__el">info@dandrobena.ru</span>
                                    </a>
                                </div>
                                <div class="g-header__info-in g-header__info-in_phone g-vac__el">
                                    <a href="tel:+7(926)965-13-67" class="g-header__info-phone g-vac">
                                        <span class="g-header__info-ico-wrap g-abs g-abs_l">
                                            <svg role="presentation" class="g-header__info-ico g-header__info-ico_phone g-abs">
                                                <use xlink:href="#symbol-phone"></use>
                                            </svg>
                                        </span>
                                        <span class="g-header__info-phone__txt g-vac__el">+7 (926) 965-13-67</span>
                                    </a>
                                </div>
                            </div>
                            <div class="g-header-cart g-vac">
                                <div class="g-header-cart__in g-vac__el">
                                    <a href="basket.html" class="g-header-cart__el g-vac">
                                        <span class="g-header-cart-ico-wrap g-abs g-abs_l">
                                            <span class="g-header-cart-num g-abs g-abs_t g-abs_r   g-vac g-header-cart-ico-wrap__num">
                                                <span class="g-header-cart-num__txt g-vac__el">24</span>
                                            </span>
                                            <svg role="presentation" class="g-header-cart-ico g-abs">
                                                <use xlink:href="#symbol-cart"></use>
                                            </svg>
                                        </span>
                                        <span class="g-header-cart__txt g-vac__el"><span class="g-header-cart__txt-num">1 120 400</span>₽</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <button id="js-burger" class="g-header-burger g-abs g-abs_r g-abs_t">
                            <span class="g-header-burger-ico g-abs">
                                <span class="g-header-burger-ico__line g-abs g-abs_t"></span>
                                <span class="g-header-burger-ico__line g-abs g-abs_c"></span>
                                <span class="g-header-burger-ico__line g-abs g-abs_b"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="g-header__bottom">
                <nav id="nav" class="g-nav">
                    <div class="g-content g-content_h g-content_large">
                        <div class="g-nav__in">
                            <ul class="g-nav__list">
                                {% set nav = [{
                                        "title": "Каталог",
                                        "link": "catalog.html"
                                    },{
                                        "title": "О нас",
                                        "link": "about.html"
                                    },{
                                        "title": "Доставка",
                                        "link": "delivery.html"
                                    },{
                                        "title": "Контакты",
                                        "link": "contacts.html"
                                    }]
                                %}
                                {% for item in nav %}
                                <li class="g-nav-item g-nav-item_hide">
                                    <a href="{{item.link}}" class="g-nav-item__link g-vac">
                                        <span class="g-nav-item__link-txt b g-vac__el">{{item.title}}</span>
                                    </a>
                                </li>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
    </div>
    <div class='g-body__wrap'>
        <!-- TOP Part end -->
        <div id="foo"></div>
        <script>
            const setText = (element, textContent) => {
              return new Promise((resolve) => {
                setTimeout(() => {
                  element.textContent = textContent;
                  resolve();
                }, 3000)
              })
            }
            (async () => {
              const foo = document.querySelector('#foo');
              await setText(foo, 'foo');
              await setText(foo, 'bar');
              await setText(foo, 'baz');
            })();
        </script>
