<div class="g-nav-item">
    <a href="@@link" class="g-nav-item__link g-vac js-spy-link @@if( context.active != undefined ){@@active}">
        <span class="g-nav-item__link-txt t-h5 Fw(700) b g-vac__el">@@title</span>
    </a>
</div>
