%fs_r {
    font-family: 'geometriaregular', sans-serif;
}

%f_italic {
    font-family: 'geometriaitalic', sans-serif;
}

%f_bold {
    font-family: 'geometriabold', sans-serif;
}

%f_med {
    font-family: 'geometriamedium', sans-serif;
}

%f_rub {
    font-family: 'rubl';
}


%g-vac {
    display: block;
    white-space: nowrap;
    &:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        width: 0;
    }
}
%g-vac__el {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    line-height: 1;
}


%diz {
    display: block;
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

%abs {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

%trans_all {
    transition: all 0.25s ease;
}

%trans_color {
    transition: color 0.25s ease;
}

%trans_brd {
    transition: border-bottom 0.25s ease;
}

%trans_bg {
    transition: background 0.25s ease;
}

%trans_opacity {
    transition: opacity 0.25s ease;
}

%trans_trf {
    transition: transform 0.25s ease;
}

%shadow {
    box-shadow: 0 0.5em 0 #dde6e7;
    box-shadow: 0 0.5em 0 rgba(#000, 0.07);
}

%shadow45 {
    box-shadow: 0.3em 0.4em 0 #dde6e7;
    box-shadow: 0.3em 0.4em 0 rgba(#000, 0.07);
}

%line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: -o-ellipsis-lastline;
}
