
:root {
    --z-modal: 1000;
    --z-cookie: 970;
    --z-header: 955;
    --z-nav: 950;
    --z-overlay: 948;
    --z-footer: 940;

    --content-p: 2em;
    --content-p-sm: 1.5em;
    --content-w: 118em;
    --content-w-large: 128em;

    --header-height: 8em;

    --c-black: #111111;
    --c-orange: #F1593E;
    --c-red: #FE2C40;
    --c-white: #fff;
    --c-grey: #505050;
    --c-grey2: #9B9B9B;
    --c-grey3: #D3D3D3;
    --c-grey5: #E5E5E5;
    --c-grey6: #F7F7F7;
    --c-green: #3AC048;
    --c-blue: #2C69FE;
    --c-blue-hover: #12AAFF;
    --c-violet: #F2F0F3;
    --c-gold: #B2954D;
    --c-yellow: #ffee58;

    --bg-wite: #fff;
    --bg-black: #111;
}

@custom-media --xl-1600 (max-width: 1600px);
@custom-media --xl-1440 (max-width: 1440px);
@custom-media --xl-1400 (max-width: 1400px);
@custom-media --xl-1366 (max-width: 1366px);
@custom-media --xl (max-width: 1200px);
@custom-media --xl-1150 (max-width: 1150px);
@custom-media --lg (max-width: 992px);
@custom-media --lg-800 (max-width: 800px);
@custom-media --md (max-width: 768px);
@custom-media --md-767 (max-width: 767px);
@custom-media --md-599 (max-width: 599px);
@custom-media --sm (max-width: 567px);
@custom-media --sm-400 (max-width: 400px);
@custom-media --sm-360 (max-width: 360px);
@custom-media --sm-h800 (max-height: 800px);
@custom-media --sm-h700 (max-height: 700px);
