    <!-- BOTTOM Part start -->
    <footer id="footer" class="g-footer">
        <div class="g-content g-content_h">
            <div class="g-footer__top">
                <div class="g-footer__in">
                    <div class="g-footer__right">
                        {% include "template/footer/footer-nav.html" %}
                    </div>
                    <div class="g-footer__left">
                        <div class="g-footer-logo">
                            <div class="g-footer-logo__link">
                                <img class="g-footer-logo__ico" src="images/logo_white.svg" alt="" />
                                <span class="g-footer-logo__txt Ff(din)">Интернет-магазин мотозапчастей и мотоэкипировки</span>
                            </div>
                        </div>
                        <div class="g-footer-copyright">
                            <div class="g-footer-copyright__in">
                                <div class="g-footer-copyright__block">
                                    <span class="g-footer-copyright__year">© 2011 – 2018</span>
                                    <span class="g-footer-copyright__txt">Все права защищены</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="g-footer__bottom">
                <div class="g-footer__in">
                    <div class="g-footer__left">
                        <div class="g-footer-paysystem">
                            <div class="g-footer-paysystem__item g-vac">
                                <img class="g-footer-paysystem__ico g-vac__el" src="images/pages/paysystem/paysystem__mc.svg" alt="mastercard" role="presentation" />
                            </div>
                            <div class="g-footer-paysystem__item g-vac">
                                <img class="g-footer-paysystem__ico g-vac__el" src="images/pages/paysystem/paysystem__visa.svg" alt="visa" role="presentation" />
                            </div>
                        </div>
                    </div>
                    <div class="g-footer__right">
                        <div class="g-footer-politics g-vac">
                            <div class="g-footer-politics__in g-vac__el">
                                <a href="shablon_obrabotka_personalnih_dannih_internet-magzina.pdf" class="g-footer-politics__link g-vac" rel="noopener noreferrer nofollow" target="_blank" >
                                    <span class="g-footer-politics__link-txt g-vac__el t-h6">Политика обработки персональных данных</span>
                                </a>
                            </div>
                        </div>
                        <div class="g-footer-dev g-vac">
                            <div class="g-footer-dev__in g-vac__el">
                                <div class="g-footer-dev__item">
                                    <a href="http://hostcms.ru/" title="HostCms" target="_blank" class="g-footer-dev__link g-footer-dev__link_cms g-vac" rel="noopener">
                                        <span class="g-footer-dev__link-txt g-vac__el t-h6">HostCMS</span>
                                    </a>
                                </div>
                                <div class="g-footer-dev__item">
                                    <a href="http://artatom.ru/" target="_blank" class="g-footer-dev__link g-vac" rel="noopener">
                                        <span class="g-footer-dev__link-txt g-vac__el t-h6">Создание сайта</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
{% include "template/cookie/cookie.html" %}
<a href="#" class="g-to-top js-to-top js-to-top_btn">
    <svg role="presentation" class="g-to-top__ico g-abs">
        <use xlink:href="#symbol-to-top"></use>
    </svg>
</a>
<!-- @@include("modal/modal.html") -->
<!-- @@include("nav/nav_mob.html") -->
<script type='text/javascript' src='js/device.min.js'></script>
<script type='text/javascript' src='js/vendor/fastclick.min.js'></script>
<script type='text/javascript' src='js/vendor/autosize.min.js'></script>
<script type='text/javascript' src='js/artatom.js'></script>
<script type='text/javascript' src='js/vendor/svg4everybody/svg4everybody.min.js'></script>
<script type='text/javascript' src='js/vendor/svg4everybody/svg4everybody_init.js'></script>
<!-- <script type='text/javascript' src='js/vendor/swiper-slider_4/swiper.min.js'></script>
<script type='text/javascript' src='js/aa_slider.js'></script> -->
  <!-- jQuery -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.min.js">\x3C/script>')</script>
<!-- <script type='text/javascript' src="js/vendor/jquery.min.js"></script> -->
<!-- <script type='text/javascript' src="js/vendor/nice-select/jquery.nice-select.min.js"></script> -->
<!-- <script type='text/javascript' src='js/oil-paint.beautified.js'></script> -->
<!-- <script type='text/javascript' src='js/vendor/bootstrap/transition.js'></script>
<script type='text/javascript' src='js/vendor/bootstrap/collapse.js'></script>
<script type='text/javascript' src='js/vendor/bootstrap/tab.js'></script>
<script type='text/javascript' src='js/vendor/bootstrap/dropdown.js'></script>
<script type='text/javascript' src='js/vendor/bootstrap/modal.js'></script>
<script type='text/javascript' src='js/aa_modal.js'></script> -->
<!-- <script type='text/javascript' src='js/vendor/force/force.min.js'></script>
<script type='text/javascript' src='js/vendor/force/force_init.js'></script> -->
<!-- <script type='text/javascript' src='js/vendor/magnific/jquery.magnific-popup.min.js'></script> -->
<!-- <script type='text/javascript' src='js/vendor/fancybox/jquery.fancybox.min.js'></script> -->
<!-- <script type='text/javascript' src='js/vendor/inputmask/jquery.inputmask.bundle.min.js'></script>
<script type='text/javascript' src='js/vendor/jqueryValidation/jquery.validate.min.js'></script>
<script type='text/javascript' src='js/vendor/jqueryValidation/additional-methods.min.js'></script>
<script type='text/javascript' src='js/vendor/jqueryValidation/localization/messages_ru.min.js'></script>
<script src='//www.google.com/recaptcha/api.js'></script>
<script type='text/javascript' src='js/aa_form-verification.js'></script> -->
</body>

</html>
