{% from "template/footer/footer-nav__data.html" import items, items2, items3, items4 %}
<div class="g-footer-nav">
    <div class="g-grid g-grid_x4 g-footer-nav__grid">
        <div class="g-footer-nav-gr g-grid__el">
            <div class="g-footer-nav-gr__in">
                {% for item in items %}
                    {% if item.main %}
                        {% set main = "g-footer-nav-link_main Ff(din)" %}
                    {% else %}
                        {% set main = "" %}
                    {% endif %}
                    <a href="{{item.link}}" class="g-footer-nav-link {{main}}">
                        <span class="g-footer-nav-link__txt">{{item.title}}</span>
                    </a>
                {% else %}
                    Something went wrong
                {% endfor %}
            </div>
        </div>
        <div class="g-footer-nav-gr g-grid__el">
            <div class="g-footer-nav-gr__in">
                {% for item in items2 %}
                    {% if item.main %}
                        {% set main = "g-footer-nav-link_main Ff(din)" %}
                    {% else %}
                        {% set main = "" %}
                    {% endif %}
                    <a href="{{item.link}}" class="g-footer-nav-link {{main}}">
                        <span class="g-footer-nav-link__txt">{{item.title}}</span>
                    </a>
                {% else %}
                    Something went wrong
                {% endfor %}
            </div>
        </div>
        <div class="g-footer-nav-gr g-grid__el">
            <div class="g-footer-nav-gr__in">
                {% for item in items3 %}
                    {% if item.main %}
                        {% set main = "g-footer-nav-link_main Ff(din)" %}
                    {% else %}
                        {% set main = "" %}
                    {% endif %}
                    <a href="{{item.link}}" class="g-footer-nav-link {{main}}">
                        <span class="g-footer-nav-link__txt">{{item.title}}</span>
                    </a>
                {% else %}
                    Something went wrong
                {% endfor %}
            </div>
        </div>
        <div class="g-grid__el g-footer-nav__mob">
            <div class="g-footer-nav-gr">
                <div class="g-footer-nav-gr__in">
                    {% for item in items4 %}
                        {% if item.main %}
                            {% set main = "g-footer-nav-link_main Ff(din)" %}
                        {% else %}
                            {% set main = "" %}
                        {% endif %}
                        <a href="{{item.link}}" class="g-footer-nav-link {{main}}">
                            <span class="g-footer-nav-link__txt">{{item.title}}</span>
                        </a>
                    {% else %}
                        Something went wrong
                    {% endfor %}
                    <div class="g-footer-contact">
                        <div class="g-footer-contact__item">
                            <a href="tel:8800200-31-65" class="g-footer-contact-el g-footer-contact-el_big">
                                <span class="g-footer-contact-el__txt">8 800 200-31-65</span>
                            </a>
                        </div>
                        <div class="g-footer-contact__item">
                            <a href="mailto:info@proriderz.ru" class="g-footer-contact-el">
                                <span class="g-footer-contact-el__txt">info@proriderz.ru</span>
                            </a>
                        </div>
                    </div>
                    <div class="g-footer-time">
                        <table>
                            <tr>
                                <td><span class="g-footer-time__txt">пн–пт</span></td>
                                <td><span class="g-footer-time__txt">09:00 – 18:00</span></td>
                            </tr>
                            <tr>
                                <td><span class="g-footer-time__txt">сб–вс</span></td>
                                <td><span class="g-footer-time__txt">выходной</span></td>
                            </tr>
                        </table>
                    </div>
                    <div class="g-footer-social">
                        <a href="vk.com" rel="noopener noreferrer nofollow" target="__blank" class="g-footer-social__item g-vac">
                            <img class="g-footer-social__ico g-vac__el" src="images/pages/social/vk.svg" alt="vk" role="presentation" />
                        </a>
                        <a href="vk.com" rel="noopener noreferrer nofollow" target="__blank" class="g-footer-social__item g-vac">
                            <img class="g-footer-social__ico g-vac__el" src="images/pages/social/f.svg" alt="facebook" role="presentation" />
                        </a>
                        <a href="vk.com" rel="noopener noreferrer nofollow" target="__blank" class="g-footer-social__item g-vac">
                            <img class="g-footer-social__ico g-vac__el" src="images/pages/social/twitter.svg" alt="twitter" role="presentation" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
