<div class="settings__item" style="margin: 4em 0">
    <div class="g-content">
        <div class="settings__title" style="text-align: center; margin-bottom: 2em; text-transform: uppercase;">
            <span class="settings__title-txt t-h1">Accordion</span>
            <p>Click on the buttons to open the collapsible content.</p>
        </div>
        <div class="settings__desc">
            <button class="accordion">Section 1</button>
            <div class="panel">
                <div class="g-editor">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
            <button class="accordion">Section 2</button>
            <div class="panel">
                <div class="g-editor">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
            <button class="accordion">Section 3</button>
            <div class="panel">
                <div class="g-editor">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
            <script>
            var acc = document.getElementsByClassName("accordion");
            var i;

            for (i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.maxHeight) {
                        panel.style.maxHeight = null;
                    } else {
                        panel.style.maxHeight = panel.scrollHeight + "px";
                    }
                });
            }

            </script>
        </div>
    </div>
</div>
