<div class="settings__item" style="margin: 4em 0">
    <div class="g-content">
        <div class="settings__title" style="text-align: center; margin-bottom: 2em; text-transform: uppercase;">
            <span class="settings__title-txt t-h1">Tabs</span>
        </div>
        <div class="settings__desc">
            <div class="g-tab no-js" data-tabs="true" role="tabpanel">
                <div class="g-tab-nav" role="tablist">
                    <div class="g-tab-nav__wrapper">
                        @@loop("tabs/loop-tabs-nav.html", [
                            {   "active": "is-active",
                                "title": "Network Performance Monitor"
                            },
                            {   "title": "NetFlow Traffic Analyzer"
                            },
                            {   "title": "Network Performance Monitor"
                            }
                        ])
                    </div>
                </div>
                <!-- Tab panes -->
                <div class="g-tab-content">
                    @@loop("tabs/loop-tabs-pane.html", [
                        {   "active": "is-active",
                            "text": "<p>Tabs script originally from http://callmenick.com/post/simple-responsive-tabs-javascript-css - Have refactored HTML CSS for our stuff and namingJust JS and has no-js fallback. No need for jQuery</p>"
                        },
                        {   "text": "<p>Tabs 2 script originally from http://callmenick.com/post/simple-responsive-tabs-javascript-css</p><p> -Have refactored CSS for our stuff and naming</p>"
                        },
                        {   "text": "Tabs 3 script originally f CSS for our stuff and namingJust JS and has no-js fallback. No need for jQuery"
                        }
                    ])
                </div>
            </div>
            <script type="text/javascript" src="js/aa_tabs.js"></script>
        </div>
    </div>
</div>
