<div class="settings__item" style="margin: 4em 0">
    <div class="g-content">
        <div class="settings__title" style="text-align: center; margin-bottom: 2em; text-transform: uppercase;">
            <span class="settings__title-txt t-h1">Forms</span>
        </div>
        <div class="settings__desc">
            <form action="/" name="form_" class="g-form" style="max-width: 64em">
                <div class="g-form-item">
                    <div class="g-form-item__name">
                        <label for="form_-g-name" class="g-form-item__name-txt">Ваше имя</label>
                    </div>
                    <div class="g-form-item__field">
                        <input id="form_-g-name" type="text" class="g-input" name="name" />
                    </div>
                </div>
                <div class="g-form-item">
                    <div class="g-form-item__name">
                        <label for="form_-g-phone" class="g-form-item__name-txt">Номер телефона</label>
                    </div>
                    <div class="g-form-item__field">
                        <input id="form_-g-phone" type="tel" class="g-input" name="phone" data-mask-phone="+7 (999) 999-99-99" />
                    </div>
                </div>
                <div class="g-form-item">
                    <div class="g-form-item__name">
                        <label for="form_-g-email" class="g-form-item__name-txt">E-mail</label>
                    </div>
                    <div class="g-form-item__field">
                        <input id="form_-g-email" type="email" class="g-input" name="email" />
                    </div>
                </div>
                <div class="g-form-item">
                    <div class="g-form-item__name">
                        <label for="form_-g-email" class="g-form-item__name-txt">Select</label>
                    </div>
                    <div class="g-form-item__field">
                        <div class="g-select__cont">
                            <select name="" id="">
                                <option value="">fadsfdsf</option>
                                <option value="">fadsfdsf</option>
                                <option value="">fadsfdsf</option>
                                <option value="">fadsfdsf</option>
                                <option value="">fadsfdsf</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="g-form-item">
                    <div class="g-form-item__name">
                        <label for="form_-g-text" class="g-form-item__name-txt">Дополнительная информация</label>
                    </div>
                    <div class="g-form-item__field">
                        <textarea id="form_-g-text" class="g-textarea" name="text"></textarea>
                    </div>
                </div>
                <div class="g-form-item g-form-item_checkbox">
                    <div class="g-form-item__field">
                        <div class="g-checkbox-cont">
                            <div class="g-checkbox g-checkbox_mb-off">
                                <label class="g-checkbox__label">
                                    <input class="g-checkbox__input" type="checkbox" name="form_agree" value="" />
                                    <i class="g-checkbox__diz g-abs g-abs_l">
                                      <svg role="presentation" class="g-checkbox__ico g-abs">
                                        <use xlink:href="#symbol-check"></use>
                                      </svg>
                                    </i>
                                    <span class="g-checkbox__txt">Я согласен на обработку персональных данных</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="g-form-item g-form-item_checkbox">
                    <div class="g-form-item__field">
                        <div class="g-checkbox-cont">
                            <div class="g-checkbox">
                                <label class="g-checkbox__label">
                                    <input class="g-checkbox__input" type="checkbox" name="form_name-checkbox-gr-1" value="" />
                                    <i class="g-checkbox__diz g-abs g-abs_l">
                                        <svg role="presentation" class="g-checkbox__ico g-abs">
                                            <use xlink:href="#symbol-check"></use>
                                        </svg>
                                    </i>
                                    <span class="checkbox__txt">Я согласен</span>
                                </label>
                            </div>
                            <div class="g-checkbox">
                                <label class="g-checkbox__label">
                                    <input class="g-checkbox__input" type="checkbox" name="form_name-checkbox-gr-1" value="" />
                                    <i class="g-checkbox__diz g-abs g-abs_l">
                                        <svg role="presentation" class="g-checkbox__ico g-abs">
                                            <use xlink:href="#symbol-check"></use>
                                        </svg>
                                    </i>
                                    <span class="g-checkbox__txt">Я согласен</span>
                                </label>
                            </div>
                            <div class="g-checkbox">
                                <label class="g-checkbox__label">
                                    <input class="g-checkbox__input" type="checkbox" name="form_name-checkbox-gr-1" value="" />
                                    <i class="g-checkbox__diz g-abs g-abs_l">
                                        <svg role="presentation" class="g-checkbox__ico g-abs">
                                            <use xlink:href="#symbol-check"></use>
                                        </svg>
                                    </i>
                                    <span class="g-checkbox__txt">Я согласен</span>
                                </label>
                            </div>
                        </div>
                        <div class="g-radio-cont">
                            <div class="g-radio">
                                <label class="g-radio__label">
                                    <input class="g-radio__input" type="radio" name="form_name-radio-gr-1" value="" />
                                    <i class="g-radio__diz g-abs g-abs_l"></i>
                                    <span class="g-radio__txt">Я согласен</span>
                                </label>
                            </div>
                            <div class="g-radio">
                                <label class="g-radio__label">
                                    <input class="g-radio__input" type="radio" name="form_name-radio-gr-1" value="" />
                                    <i class="g-radio__diz g-abs g-abs_l"></i>
                                    <span class="g-radio__txt">Я согласен</span>
                                </label>
                            </div>
                            <div class="g-radio">
                                <label class="g-radio__label">
                                    <input class="g-radio__input" type="radio" name="form_name-radio-gr-1" value="" />
                                    <i class="g-radio__diz g-abs g-abs_l"></i>
                                    <span class="g-radio__txt">Я согласен</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="g-form__btn">
                    <button class="g-btn g-btn_big">
                        <span class="g-btn__txt">Отправить</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
