<div class="settings__item" style="margin: 4em 0">
    <div class="g-content">
        <div class="settings__title" style="text-align: center; margin-bottom: 2em; text-transform: uppercase;">
            <span class="settings__title-txt t-h1">Editor</span>
        </div>
        <div class="settings__desc">
            <div class="g-editor">
                <h1>h1 Комплексный анализ пропускной способности сети и мониторинг показателей производительности</h1>
                <p>p Краткий обзор состава пакета Краткий обзор состава пакета Краткий обзор состава пакета Краткий обзор состава пакета Краткий обзор состава пакета Краткий обзор состава пакета Краткий обзор состава пакета Краткий обзор состава пакета</p>
                <h2>h2 Комплексный анализ пропускной способности сети и мониторинг показателей производительности</h2>
                <p>p Краткий обзор состава пакета Краткий обзор состава пакета Краткий обзор состава пакета Краткий обзор состава пакета Краткий обзор состава пакета Краткий обзор состава пакета Краткий обзор состава пакета Краткий обзор состава пакета</p>
                <h3>h3 Комплексный анализ пропускной способности сети и мониторинг показателей производительности</h3>
                <p>p Краткий обзор состава пакета Краткий обзор состава пакета Краткий обзор состава пакета Краткий обзор состава пакета Краткий обзор состава пакета Краткий обзор состава пакета Краткий обзор состава пакета Краткий обзор состава пакета</p>
                <h4>h4 Комплексный анализ пропускной способности сети и мониторинг показателей производительности</h4>
                <p>p Краткий обзор состава пакета Краткий обзор состава пакета Краткий обзор состава пакета Краткий обзор состава пакета Краткий обзор состава пакета Краткий обзор состава пакета Краткий обзор состава пакета Краткий обзор состава пакета</p>
                <h5>h5 Комплексный анализ пропускной способности сети и мониторинг показателей производительности</h5>
                <p>p Краткий обзор состава пакета Краткий обзор состава пакета Краткий обзор состава пакета Краткий обзор состава пакета Краткий обзор состава пакета Краткий обзор состава пакета Краткий обзор состава пакета Краткий обзор состава пакета</p>
                <h6>h6 Комплексный анализ пропускной способности сети и мониторинг показателей производительности</h6>
                <p>p Краткий обзор состава пакета Краткий обзор состава пакета Краткий обзор состава пакета Краткий обзор состава пакета Краткий обзор состава пакета Краткий обзор состава пакета Краткий обзор состава пакета Краткий обзор состава пакета</p>
                <b>b Преимущества</b> <strong> strong Преимущества</strong> <em>em Преимущества</em> <i>i Преимущества</i>
                <p>p <b>b Преимущества</b> <strong> strong Преимущества</strong> <em>em Преимущества</em> <i>i Преимущества</i></p>
                <p>Краткий обзор состава пакета Краткий обзор состава пакета Краткий обзор состава пакетаКраткий обзор состава пакета Краткий обзор состава пакетаКраткий обзор состава пакета Краткий обзор состава пакетаКраткий обзор состава пакета Краткий обзор состава пакета</p>
                <ul>
                    <li><b>Готовое комплексное решение</b>
                        <br> Обнаружение, диагностика и решение проблем с производительностью сети.
                    </li>
                    <li><b>Бесшовная интеграция</b>
                        <br> Мониторинг неисправностей, доступности, производительности и пропускной способности сети на единой панели.</li>
                </ul>
                <p>Краткий обзор состава пакета</p>
                <ol>
                    <li><b>Готовое комплексное решение</b>
                        <br> Обнаружение, диагностика и решение проблем с производительностью сети.
                    </li>
                    <li><b>Бесшовная интеграция</b>
                        <br> Мониторинг неисправностей, доступности, производительности и пропускной способности сети на единой панели.
                    </li>
                </ol>
                <pre>Краткий обзор состава пакета Краткий обзор
                    состава пакета Краткий обзор состава пакетаКраткий обзор
                    состава пакета Краткий обзор состава пакетаКраткий обзор
                    состава пакета Краткий обзор состава пакетаКраткий обзор
                    состава пакета Краткий обзор состава пакета
                </pre>
                <blockquote>
                    Краткий обзор состава пакета Краткий обзор состава пакета Краткий обзор состава пакетаКраткий обзор состава пакета Краткий обзор состава пакетаКраткий обзор состава пакета Краткий обзор состава пакетаКраткий обзор состава пакета Краткий обзор состава пакета
                </blockquote>
                <p>В таблице ниже приведен обзор возможностей пакета Network Bandwidth Analyzer Pack.</p>
                <table>
                    <tbody>
                        <tr>
                            <td bgcolor="#ffffff">
                                <p>
                                    <b>Краткая характеристика возможностей </b>
                                </p>
                                <b> </b>
                            </td>
                            <td bgcolor="#ffffff">
                                <b> </b>
                                <p align="CENTER">
                                    <b> </b>
                                </p>
                                <b> </b>
                            </td>
                            <td bgcolor="#ffffff">
                                <b> </b>
                                <p align="CENTER">
                                    <b> </b>
                                </p>
                                <b> </b>
                            </td>
                            <td bgcolor="#ffffff">
                                <b> </b>
                                <p style="text-align: center;">
                                    <b>
                        Network Bandwidth Analyzer Pack </b>
                                </p>
                                <b> </b>
                            </td>
                        </tr>
                        <tr>
                            <td bgcolor="#ffffff">
                                <b> </b>
                                <p>
                                    <b> </b>
                                </p>
                                <b> </b>
                            </td>
                            <td bgcolor="#ffffff">
                                <b> </b>
                                <p align="CENTER">
                                    <b>
                        Network Performance Monitor </b>
                                </p>
                                <b> </b>
                            </td>
                            <td bgcolor="#ffffff">
                                <b> </b>
                                <p align="CENTER">
                                    <b>
                        NetFlow Traffic Analyzer </b>
                                </p>
                                <b> </b>
                            </td>
                            <td bgcolor="#ffffff">
                                <b> </b>
                                <p align="CENTER">
                                    <b>
                        1. Network Performance Monitor</b>
                                    <br>
                                    <b>
                        2. NetFlow Traffic Analyzer</b>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td bgcolor="#ffffff">
                                <p>
                                    Мониторинг сетевых устройств различных производителей
                                </p>
                            </td>
                            <td bgcolor="#ffffff">
                                <ul>
                                    <li>
                                        <p>
                                        </p>
                                    </li>
                                </ul>
                            </td>
                            <td bgcolor="#ffffff">
                                <p>
                                </p>
                            </td>
                            <td bgcolor="#ffffff">
                                <ul>
                                    <li>
                                        <p>
                                        </p>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td bgcolor="#ffffff">
                                <p>
                                    Усовершенствованная система распознавания приложений на основе протокола NBAR2
                                </p>
                            </td>
                            <td bgcolor="#ffffff">
                                <p>
                                </p>
                            </td>
                            <td bgcolor="#ffffff">
                                <ul>
                                    <li>
                                        <p>
                                        </p>
                                    </li>
                                </ul>
                            </td>
                            <td bgcolor="#ffffff">
                                <ul>
                                    <li>
                                        <p>
                                        </p>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td bgcolor="#ffffff">
                                <p>
                                    Визуализация критического пути посредством NetPath™
                                </p>
                            </td>
                            <td bgcolor="#ffffff">
                                <ul>
                                    <li>
                                        <p>
                                        </p>
                                    </li>
                                </ul>
                            </td>
                            <td bgcolor="#ffffff">
                                <p>
                                </p>
                            </td>
                            <td bgcolor="#ffffff">
                                <ul>
                                    <li>
                                        <p>
                                        </p>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td bgcolor="#ffffff">
                                <p>
                                    Интеллектуальные оповещения
                                </p>
                            </td>
                            <td bgcolor="#ffffff">
                                <ul>
                                    <li>
                                        <p>
                                        </p>
                                    </li>
                                </ul>
                            </td>
                            <td bgcolor="#ffffff">
                                <p>
                                </p>
                            </td>
                            <td bgcolor="#ffffff">
                                <ul>
                                    <li>
                                        <p>
                                        </p>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td bgcolor="#ffffff">
                                <p>
                                    Анализ сети
                                </p>
                            </td>
                            <td bgcolor="#ffffff">
                                <ul>
                                    <li>
                                        <p>
                                        </p>
                                    </li>
                                </ul>
                            </td>
                            <td bgcolor="#ffffff">
                                <p>
                                </p>
                            </td>
                            <td bgcolor="#ffffff">
                                <ul>
                                    <li>
                                        <p>
                                        </p>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td bgcolor="#ffffff">
                                <p>
                                    Мониторинг беспроводной сети и управление ею
                                </p>
                            </td>
                            <td bgcolor="#ffffff">
                                <ul>
                                    <li>
                                        <p>
                                        </p>
                                    </li>
                                </ul>
                            </td>
                            <td bgcolor="#ffffff">
                                <p>
                                </p>
                            </td>
                            <td bgcolor="#ffffff">
                                <ul>
                                    <li>
                                        <p>
                                        </p>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td bgcolor="#ffffff">
                                <p>
                                    Базовые показатели производительности сети
                                </p>
                            </td>
                            <td bgcolor="#ffffff">
                                <ul>
                                    <li>
                                        <p>
                                        </p>
                                    </li>
                                </ul>
                            </td>
                            <td bgcolor="#ffffff">
                                <p>
                                </p>
                            </td>
                            <td bgcolor="#ffffff">
                                <ul>
                                    <li>
                                        <p>
                                        </p>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td bgcolor="#ffffff">
                                <p>
                                    Мультипортовая корреляция сетевых данных посредством PerfStack™
                                </p>
                            </td>
                            <td bgcolor="#ffffff">
                                <ul>
                                    <li>
                                        <p>
                                        </p>
                                    </li>
                                </ul>
                            </td>
                            <td bgcolor="#ffffff">
                                <ul>
                                    <li>
                                        <p>
                                        </p>
                                    </li>
                                </ul>
                            </td>
                            <td bgcolor="#ffffff">
                                <ul>
                                    <li>
                                        <p>
                                        </p>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td bgcolor="#ffffff">
                                <p>
                                    Мониторинг пропускной способности сети
                                </p>
                            </td>
                            <td bgcolor="#ffffff">
                                <p>
                                </p>
                            </td>
                            <td bgcolor="#ffffff">
                                <ul>
                                    <li>
                                        <p>
                                        </p>
                                    </li>
                                </ul>
                            </td>
                            <td bgcolor="#ffffff">
                                <ul>
                                    <li>
                                        <p>
                                        </p>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td bgcolor="#ffffff">
                                <p>
                                    Анализ сетевого трафика
                                </p>
                            </td>
                            <td bgcolor="#ffffff">
                                <p>
                                </p>
                            </td>
                            <td bgcolor="#ffffff">
                                <ul>
                                    <li>
                                        <p>
                                        </p>
                                    </li>
                                </ul>
                            </td>
                            <td bgcolor="#ffffff">
                                <ul>
                                    <li>
                                        <p>
                                        </p>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td bgcolor="#ffffff">
                                <p>
                                    Мониторинг трафика беспроводной локальной сети
                                </p>
                            </td>
                            <td bgcolor="#ffffff">
                                <p>
                                </p>
                            </td>
                            <td bgcolor="#ffffff">
                                <ul>
                                    <li>
                                        <p>
                                        </p>
                                    </li>
                                </ul>
                            </td>
                            <td bgcolor="#ffffff">
                                <ul>
                                    <li>
                                        <p>
                                        </p>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td bgcolor="#ffffff">
                                <p>
                                    Оптимизация политик CBQoS
                                </p>
                            </td>
                            <td bgcolor="#ffffff">
                                <p>
                                </p>
                            </td>
                            <td bgcolor="#ffffff">
                                <ul>
                                    <li>
                                        <p>
                                        </p>
                                    </li>
                                </ul>
                            </td>
                            <td bgcolor="#ffffff">
                                <ul>
                                    <li>
                                        <p>
                                        </p>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td bgcolor="#ffffff">
                                <p>
                                    Настраиваемые отчеты о сетевом трафике
                                </p>
                            </td>
                            <td bgcolor="#ffffff">
                                <p>
                                </p>
                            </td>
                            <td bgcolor="#ffffff">
                                <ul>
                                    <li>
                                        <p>
                                        </p>
                                    </li>
                                </ul>
                            </td>
                            <td bgcolor="#ffffff">
                                <ul>
                                    <li>
                                        <p>
                                        </p>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
