<div class="settings__item" style="margin: 4em 0">
    <div class="g-content">
        <div class="settings__title" style="text-align: center; margin-bottom: 2em; text-transform: uppercase;">
            <span class="settings__title-txt t-h1">Buttons</span>
        </div>
        <div class="settings__desc">
            <button class="g-btn g-btn_big">
                <span class="g-btn__txt">Отправить</span>
            </button>
            <button class="g-btn">
                <span class="g-btn__txt">Отправить</span>
            </button>
            <a href="" class="g-btn">
                <span class="g-btn__txt">Отправит</span>
            </a>
            <button class="g-btn g-btn_big g-btn_nicehover">
                <span class="g-btn__txt">Test</span>
            </button>
            <script>
                document.querySelector('.g-btn_nicehover').onmousemove = (e) => {
                    const x = e.pageX - e.target.offsetLeft
                    const y = e.pageY - e.target.offsetTop
                    e.target.style.setProperty('--x', `${ x }px`)
                    e.target.style.setProperty('--y', `${ y }px`)

                }
            </script>
            <style>
                .g-btn_nicehover {
                    background: #f72359;
                }
                .g-btn_nicehover span {
                    position: relative;
                }
                .g-btn_nicehover::before {
                    --size: 0;
                    content: '';
                    position: absolute;
                    left: var(--x);
                    top: var(--y);
                    width: var(--size);
                    height: var(--size);
                    background: radial-gradient(circle closest-side, #4405f7, transparent);
                    transform: translate(-50%, -50%);
                    transition: width .2s ease, height .2s ease;
                }
                .g-btn_nicehover:hover::before {
                    --size: 400px;
                }
            </style>
        </div>
    </div>
</div>
